<h2 mat-dialog-title>Atendimento Popular (Particular)</h2>
<mat-dialog-content class="mat-typography">
  <h3>
    Flexibilidade e Praticidade
  </h3>
  <p>
    Nossa clínica oferece um atendimento particular com foco na sua comodidade. Atendemos por ordem de chegada, permitindo que você organize sua rotina da melhor forma. Para mais informações sobre valores, conferir no whatsapp ou com nossos atendentes.
  </p>

  <h3>
    Horários de Atendimento
  </h3>
  <p>
    Manhã: das 7h às 10h <br>
    Tarde: das 13h às 15h
  </p>

  <h3>
    A importância de chegar cedo
  </h3>
  <p>
    Recomendamos que você chegue um pouco antes do horário de abertura, principalmente se precisar de dilatação pupilar. Esse procedimento é comum em alguns exames e pode levar alguns minutos para fazer efeito. Chegando mais cedo, você garante que terá tempo suficiente para realizar todos os procedimentos necessários.
  </p>

</mat-dialog-content>
<mat-dialog-actions align="end">
  <!-- <button mat-button mat-dialog-close>Cancel</button> -->
  <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Entendi</button>
</mat-dialog-actions>