<!-- HEADER -->
<app-header-saude></app-header-saude>

<!-- HEADING -->
<app-heading-exames></app-heading-exames>

<!-- CONTEÚDO -->
<section class="w-full mx-auto py-10 bg-gray-50 dark:bg-gray-900 dark:text-white">
  <div class="w-fit pb-1 px-2 mx-4 rounded-md text-2xl font-semibold border-b-2 border-green-600 dark:border-b-2 dark:border-yellow-600">
    Curva Tensional Diária 
  </div>

  <div class="xl:w-[80%] sm:w-[85%] xs:w-[90%] mx-auto flex md:flex-row xs:flex-col lg:gap-4 xs:gap-2 justify-center lg:items-stretch md:items-center mt-4">
    <div class="lg:w-[50%] xs:w-full">
      <img class="lg:rounded-t-lg sm:rounded-sm xs:rounded-sm" src="assets/img/clinic/exames/exame-curva-tensional.jpg" alt="exame de Curva Tensional Diária" />
    </div>
    <div class="lg:w-[50%] sm:w-full xs:w-full bg-green-600 dark:bg-gray-900 dark:text-gray-400 md:p-4 xs:p-0 rounded-md flex flex-col items-center justify-center text-center mx-auto">
      <h2 class="text-3xl font-semibold text-white dark:text-white font-sans">
        Conheça o procedimento
      </h2>
      <p class="text-md mt-4 text-justify  p-4 font-sans text-white">
        A curva tensional diária é um exame utilizado para monitorar a pressão intraocular ao longo do 
dia. Ele é especialmente importante no diagnóstico e acompanhamento de pacientes com 
glaucoma, ajudando a ajustar o tratamento de forma eficaz. O exame mede a variação da 
pressão ocular, fornecendo dados cruciais para o controle da doença.  
      </p>
    </div>
  </div>
  <!-- col-2 -->
  <div class="xl:w-[80%] sm:w-[85%] xs:w-[90%] mx-auto flex md:flex-row xs:flex-col lg:gap-4 xs:gap-2 justify-center lg:items-stretch md:items-center mt-6">
    <!--  -->
    <div class="md:hidden sm:block xs:block xs:w-full">
      <img class="lg:rounded-t-lg sm:rounded-sm xs:rounded-sm" src="assets/img/clinic/galeria/medico-com-crianca.jpg" alt="billboard image" />
    </div>
    <!--  -->
    <div class="lg:w-[50%] xs:w-full bg-green-600 dark:bg-gray-900 dark:text-gray-400 md:p-4 xs:p-0 rounded-md flex flex-col items-center justify-center text-center mx-auto">
      <h2 class="text-3xl text-white dark:text-white font-sans">
        Mais informações
      </h2>
      <p class="text-md mt-4 text-justify  text-white p-4 font-sans">
        Realize a curva tensional diária em nossa clínica e conte com o acompanhamento especializado 
de nossa equipe. Além de cuidar da sua saúde ocular, você estará contribuindo para projetos 
sociais que promovem a inclusão de pessoas com deficiência visual. Agende sua consulta e veja 
como podemos melhorar sua visão e transformar vidas!
      </p>
    </div>
    <!--  -->
    <div class="md:block sm:hidden xs:hidden lg:w-[50%] xs:w-full">
      <img class="lg:rounded-t-lg xs:rounded-sm" src="assets/img/clinic/galeria/medico-com-crianca.jpg" alt="billboard image" />
    </div>
  </div>
</section>
<!-- FIM DO CONTEÚDO -->

<!-- CALL TO ACTION -->
<app-marque-sua-consulta></app-marque-sua-consulta>

  

<!-- FOOTER -->
<app-footer-saude></app-footer-saude>