<!-- CONTEÚDO -->
<section class="w-full mx-auto py-10 bg-gray-50 dark:bg-gray-900 dark:text-white">
    <div class="w-fit pb-1 px-2 mx-4 rounded-md text-2xl font-semibold border-b-2 border-green-600 dark:border-b-2 dark:border-yellow-600">
      Conheça os projetos
    </div>

    <!--coluna 1-->
    <div class="xl:w-[80%] sm:w-[85%] xs:w-[90%] mx-auto flex md:flex-row xs:flex-col lg:gap-4 xs:gap-2 justify-center lg:items-stretch md:items-center mt-4">
      <div class="lg:w-[50%] xs:w-full">
        <img class="lg:rounded-t-lg sm:rounded-sm xs:rounded-sm" src="assets/img/assist/reabilitacao/ex0.jpg" alt="billboard image" />
      </div>
      <div class="lg:w-[50%] sm:w-full xs:w-full bg-green-600 dark:bg-gray-900 dark:text-gray-400 md:p-4 xs:p-0 rounded-md flex flex-col items-center justify-center text-center mx-auto">
        <h2 class="text-3xl font-semibold text-white dark:text-white font-sans">
            Projeto Abraço
        </h2>
        <p class="text-md mt-4 text-justify  p-4 font-sans text-white">
            São encontros mensais com os pais/responsáveis dos alunos inscritos na escola, com a missão de orientar e assegurar os seus direitos e fortalecer a rede de proteção. Realiza também oficinas para desenvolver suas habilidades, gerando autonomia e protagonismo através da troca de experiências e integração entre osparticipantes do encontro.
        </p>
      </div>
    </div>
    <!-- coluna 2 -->
    <div class="xl:w-[80%] sm:w-[85%] xs:w-[90%] mx-auto flex md:flex-row xs:flex-col lg:gap-4 xs:gap-2 justify-center lg:items-stretch md:items-center mt-6">
      <!--  -->
      <div class="md:hidden sm:block xs:block xs:w-full">
        <img class="lg:rounded-t-lg sm:rounded-sm xs:rounded-sm" src="assets/img/assist/reabilitacao/ex1.jpg" alt="billboard image" />
      </div>
      <!--  -->
      <div class="lg:w-[50%] xs:w-full bg-green-600 dark:bg-gray-900 dark:text-gray-400 md:p-4 xs:p-0 rounded-md flex flex-col items-center justify-center text-center mx-auto">
        <h2 class="text-3xl text-white dark:text-white font-sans">
          
        </h2>
        <p class="text-md mt-4 text-justify  text-white p-4 font-sans">
            ...Continuação ...
        </p>
      </div>
      <!--  -->
      <div class="md:block sm:hidden xs:hidden lg:w-[50%] xs:w-full">
        <img class="lg:rounded-t-lg xs:rounded-sm" src="assets/img/assist/reabilitacao/ex1.jpg" alt="billboard image" />
      </div>
    </div>
    <!--fim da coluna 2-->

    <!--coluna 3-->
    <div class="xl:w-[80%] sm:w-[85%] xs:w-[90%] mx-auto flex md:flex-row xs:flex-col lg:gap-4 xs:gap-2 justify-center lg:items-stretch md:items-center mt-4">
        <div class="lg:w-[50%] xs:w-full">
          <img class="lg:rounded-t-lg sm:rounded-sm xs:rounded-sm" src="assets/img/assist/reabilitacao/ex2.jpg" alt="billboard image" />
        </div>
        <div class="lg:w-[50%] sm:w-full xs:w-full bg-green-600 dark:bg-gray-900 dark:text-gray-400 md:p-4 xs:p-0 rounded-md flex flex-col items-center justify-center text-center mx-auto">
          <h2 class="text-3xl font-semibold text-white dark:text-white font-sans">
            Projeto Família Vivenciando
          </h2>
          <p class="text-md mt-4 text-justify  p-4 font-sans text-white">
            São encontros realizados com familiares dos reabilitandos que ingressam nas turmas de Integração, sendo uma das propostas: conhecer e vivenciar a realidade da pessoa que está em processo de perda da visão, fortalecendo o respeito e a empatia entre todos.
          </p>
        </div>
      </div>
      <!-- coluna 4 -->
      <div class="xl:w-[80%] sm:w-[85%] xs:w-[90%] mx-auto flex md:flex-row xs:flex-col lg:gap-4 xs:gap-2 justify-center lg:items-stretch md:items-center mt-6">
        <!--  -->
        <div class="md:hidden sm:block xs:block xs:w-full">
          <img class="lg:rounded-t-lg sm:rounded-sm xs:rounded-sm" src="assets/img/assist/reabilitacao/ex3.jpg" alt="billboard image" />
        </div>
        <!--  -->
        <div class="lg:w-[50%] xs:w-full bg-green-600 dark:bg-gray-900 dark:text-gray-400 md:p-4 xs:p-0 rounded-md flex flex-col items-center justify-center text-center mx-auto">
          <h2 class="text-3xl text-white dark:text-white font-sans">
           
          </h2>
          <p class="text-md mt-4 text-justify  text-white p-4 font-sans">
            continuação
          </p>
        </div>
        <!--  -->
        <div class="md:block sm:hidden xs:hidden lg:w-[50%] xs:w-full">
          <img class="lg:rounded-t-lg xs:rounded-sm" src="assets/img/assist/reabilitacao/ex3.jpg" alt="billboard image" />
        </div>
      </div>
      <!--fim da coluna 4-->

      
</section>
<!-- FIM DO CONTEÚDO -->