<section class="text-accent-50 bg-green-50 body-font">
    <div class="container px-5 py-12 mx-auto">
      <div class="flex flex-col text-center w-full mb-10">
        <h1 class="sm:text-3xl text-2xl font-medium title-font mb-4 text-gray-500">Todos as Cirurgias</h1>
      </div>
  
      <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6">

        <!-- Card 1 -->
        <div class="relative cursor-pointer h-full" (click)="navegar('cirurgia1-implante-anel')">
          <img alt="gallery" class="absolute inset-0 w-full h-full object-cover object-center" src="/assets/img/clinic/card-gallery2.jpg">
          <div class="relative z-10 p-8 border-4 border-primary-700 bg-green-600 opacity-90 hover:opacity-80 hover:bg-green-500 flex flex-col justify-end min-h-[220px] transition-all duration-300 delay-100">
            <div>
              <h2 class="tracking-widest text-xs title-font font-medium text-gray-300 mb-1">Cirurgia</h2>
              <h1 class="title-font text-base font-medium text-white-800 mb-3"> Implante de Anel Intraestromal</h1>
            </div>
          </div>
        </div>

        <!-- Card 2-->
        <div class="relative cursor-pointer h-full" (click)="navegar('cirurgia2-refrativa')">
          <img alt="gallery" class="absolute inset-0 w-full h-full object-cover object-center" src="/assets/img/clinic/card-gallery1.jpg">
          <div class="relative z-10 p-8 border-4 border-primary-700 bg-green-600 opacity-90 hover:opacity-80 hover:bg-green-500 flex flex-col justify-end min-h-[220px] transition-all duration-300 delay-100">
            <div>
              <h2 class="tracking-widest text-xs title-font font-medium text-gray-300 mb-1">Cirurgia</h2>
              <h1 class="title-font text-base font-medium text-white-800 mb-3">Refrativa</h1>
            </div>
          </div>
        </div>

        <!-- Card 3-->
        <div class="relative cursor-pointer h-full" (click)="navegar('cirurgia3-plastica-ocular')">
          <img alt="gallery" class="absolute inset-0 w-full h-full object-cover object-center" src="/assets/img/clinic/card-gallery3.png">
          <div class="relative z-10 p-8 border-4 border-primary-700 bg-green-600 opacity-90 hover:opacity-80 hover:bg-green-500 flex flex-col justify-end min-h-[220px] transition-all duration-300 delay-100">
            <div>
              <h2 class="tracking-widest text-xs title-font font-medium text-gray-300 mb-1">Cirurgia</h2>
              <h1 class="title-font text-base font-medium text-white-800 mb-3">Plástica Ocular</h1>
            </div>
          </div>
        </div>
        
        <!-- Card 4-->
        <div class="relative cursor-pointer h-full" (click)="navegar('cirurgia4-catarata')">
          <img alt="gallery" class="absolute inset-0 w-full h-full object-cover object-center" src="/assets/img/clinic/card-gallery4.jpg">
          <div class="relative z-10 p-8 border-4 border-primary-700 bg-green-600 opacity-90 hover:opacity-80 hover:bg-green-500 flex flex-col justify-end min-h-[220px] transition-all duration-300 delay-100">
            <div>
              <h2 class="tracking-widest text-xs title-font font-medium text-gray-300 mb-1">Cirurgia</h2>
              <h1 class="title-font text-base font-medium text-white-800 mb-3">Catarata</h1>
            </div>
          </div>
        </div>

        <!-- Card 5-->
        <div class="relative cursor-pointer h-full" (click)="navegar('cirurgia5-estrabismo')">
          <img alt="gallery" class="absolute inset-0 w-full h-full object-cover object-center" src="/assets/img/clinic/card-gallery7.jpg">
          <div class="relative z-10 p-8 border-4 border-primary-700 bg-green-600 opacity-90 hover:opacity-80 hover:bg-green-500 flex flex-col justify-end min-h-[220px] transition-all duration-300 delay-100">
            <div>
              <h2 class="tracking-widest text-xs title-font font-medium text-gray-300 mb-1">Cirurgia</h2>
              <h1 class="title-font text-base font-medium text-white-800 mb-3">Estrabismo</h1>
            </div>
          </div>
        </div>

        <!-- Card 6-->
        <div class="relative cursor-pointer h-full" (click)="navegar('cirurgia6-glaucoma')">
          <img alt="gallery" class="absolute inset-0 w-full h-full object-cover object-center" src="/assets/img/clinic/card-gallery-yag.jpg">
          <div class="relative z-10 p-8 border-4 border-primary-700 bg-green-600 opacity-90 hover:opacity-80 hover:bg-green-500 flex flex-col justify-end min-h-[220px] transition-all duration-300 delay-100">
            <div>
              <h2 class="tracking-widest text-xs title-font font-medium text-gray-300 mb-1">Cirurgia</h2>
              <h1 class="title-font text-base font-medium text-white-800 mb-3">Glaucoma</h1>
            </div>
          </div>
        </div>

        <!-- Card 7-->
        <div class="relative cursor-pointer h-full" (click)="navegar('cirurgia7-retina')">
          <img alt="gallery" class="absolute inset-0 w-full h-full object-cover object-center" src="/assets/img/clinic/card-gallery8.jpg">
          <div class="relative z-10 p-8 border-4 border-primary-700 bg-green-600 opacity-90 hover:opacity-80 hover:bg-green-500 flex flex-col justify-end min-h-[220px] transition-all duration-300 delay-100">
            <div>
              <h2 class="tracking-widest text-xs title-font font-medium text-gray-300 mb-1">Cirurgia</h2>
              <h1 class="title-font text-base font-medium text-white-800 mb-3">Retina e Vítreo</h1>
            </div>
          </div>
        </div>

        <!-- Card 8-->
        <div class="relative cursor-pointer h-full" (click)="navegar('cirurgia8-transplante-cornea')">
          <img alt="gallery" class="absolute inset-0 w-full h-full object-cover object-center" src="/assets/img/clinic/card-gallery9.jpg">
          <div class="relative z-10 p-8 border-4 border-primary-700 bg-green-600 opacity-90 hover:opacity-80 hover:bg-green-500 flex flex-col justify-end min-h-[220px] transition-all duration-300 delay-100">
            <div>
              <h2 class="tracking-widest text-xs title-font font-medium text-gray-300 mb-1">Cirurgia</h2>
              <h1 class="title-font text-base font-medium text-white-800 mb-3">Transplante de Córnea
            </h1>
            </div>
          </div>
        </div>

        <!-- Card 9-->
        <div class="relative cursor-pointer h-full" (click)="navegar('cirurgia9-injecao')">
          <img alt="gallery" class="absolute inset-0 w-full h-full object-cover object-center" src="/assets/img/clinic/card-gallery10.jpg">
          <div class="relative z-10 p-8 border-4 border-primary-700 bg-green-600 opacity-90 hover:opacity-80 hover:bg-green-500 flex flex-col justify-end min-h-[220px] transition-all duration-300 delay-100">
            <div>
              <h2 class="tracking-widest text-xs title-font font-medium text-gray-300 mb-1">Cirurgia</h2>
              <h1 class="title-font text-base font-medium text-white-800 mb-3">Injeção Antiangiogênica</h1>
            </div>
          </div>
        </div>

        <!-- Card 10-->
        <div class="relative cursor-pointer h-full" (click)="navegar('cirurgia10-blefaroplastia')">
          <img alt="gallery" class="absolute inset-0 w-full h-full object-cover object-center" src="/assets/img/clinic/card-gallery-fotocoag.png">
          <div class="relative z-10 p-8 border-4 border-primary-700 bg-green-600 opacity-90 hover:opacity-80 hover:bg-green-500 flex flex-col justify-end min-h-[220px] transition-all duration-300 delay-100">
            <div>
              <h2 class="tracking-widest text-xs title-font font-medium text-gray-300 mb-1">Cirurgia</h2>
              <h1 class="title-font text-base font-medium text-white-800 mb-3">Blefaroplastia</h1>
            </div>
          </div>
        </div>

        <!-- Card 11-->
        <div class="relative cursor-pointer h-full" (click)="navegar('cirurgia11-pterigio')">
          <img alt="gallery" class="absolute inset-0 w-full h-full object-cover object-center" src="/assets/img/clinic/card-gallery11.jpeg">
          <div class="relative z-10 p-8 border-4 border-primary-700 bg-green-600 opacity-90 hover:opacity-80 hover:bg-green-500 flex flex-col justify-end min-h-[220px] transition-all duration-300 delay-100">
            <div>
              <h2 class="tracking-widest text-xs title-font font-medium text-gray-300 mb-1">Cirurgia</h2>
              <h1 class="title-font text-base font-medium text-white-800 mb-3">Pterígio</h1>
            </div>
          </div>
        </div>

        <!-- Card 12-->
        <div class="relative cursor-pointer h-full" (click)="navegar('cirurgia12-calazio')">
          <img alt="gallery" class="absolute inset-0 w-full h-full object-cover object-center" src="/assets/img/clinic/card-gallery12.jpg">
          <div class="relative z-10 p-8 border-4 border-primary-700 bg-green-600 opacity-90 hover:opacity-80 hover:bg-green-500 flex flex-col justify-end min-h-[220px] transition-all duration-300 delay-100">
            <div>
              <h2 class="tracking-widest text-xs title-font font-medium text-gray-300 mb-1">Cirurgia</h2>
              <h1 class="title-font text-base font-medium text-white-800 mb-3">Calázio</h1>
            </div>
          </div>
        </div>
        
        <!-- Card 13-->
        <div class="relative cursor-pointer h-full" (click)="navegar('cirurgia13-tumor')">
          <img alt="gallery" class="absolute inset-0 w-full h-full object-cover object-center" src="/assets/img/clinic/card-gallery13.jpg">
          <div class="relative z-10 p-8 border-4 border-primary-700 bg-green-600 opacity-90 hover:opacity-80 hover:bg-green-500 flex flex-col justify-end min-h-[220px] transition-all duration-300 delay-100">
            <div>
              <h2 class="tracking-widest text-xs title-font font-medium text-gray-300 mb-1">Cirurgia</h2>
              <h1 class="title-font text-base font-medium text-white-800 mb-3">Tumor Conjuntival</h1>
            </div>
          </div>
        </div>

      </div>
    </div>
  </section>
  