<div class="relative bg-gradient-to-r from-purple-600 to-blue-600 h-screen text-white overflow-hidden">
    <div class="absolute inset-0">
      <img src="assets/img/school/hero-school.jpg" alt="Background Image" class="object-cover object-center w-full h-full" />
      <div class="absolute inset-0 bg-black opacity-50"></div>
    </div>
    
    
     <!-- Seção com o conteúdo sobreposto + logo -->
  <section class="relative text-gray-400 bg-primary-200 bg-opacity-75 body-font z-10">
    <div class="container mx-auto flex px-5 py-12 text-logo-section">
      <div class="flex flex-col md:flex-row items-center gap-6">
        <!-- Logo -->
        <div class="logo-container flex-shrink-0">
          <img 
            src="assets/logos/sac-logo.png" 
            alt="Logo do Instituto de Cegos do Ceará" 
            class="w-24 h-24 sm:w-32 sm:h-32 object-contain relative"
            style="top: -40px;"
          />
        </div>
  
        <!-- Texto -->
        <div class="lg:flex-grow flex flex-col text-center md:text-left">
          <h1 class="title-font text-5xl sm:text-6xl lg:text-7xl mb-4 font-bold text-white z-20">
            <span class="text-3xl sm:text-4xl lg:text-5xl font-medium">Instituto Hélio Góes</span>
          </h1>
          <p class="mb-8 leading-relaxed text-accent-50 z-20 max-w-full sm:max-w-md md:max-w-lg lg:max-w-xl">
            Ensinando a ver o mundo
          </p>
          <div class="flex flex-col sm:flex-row justify-center gap-4 z-20">
            <button class="text-black bg-white py-2 px-4 sm:px-6 focus:outline-none hover:scale-105 hover:text-white hover:bg-green-600 duration-300 rounded text-sm sm:text-lg whitespace-nowrap font-sans">
              Fale conosco
            </button>
          </div>
        </div>
      </div>
    </div>
  </section>


  </div>