<app-header-social></app-header-social>
<app-heading-atendimento></app-heading-atendimento>

<!-- Conteúdo Cards -->
<section
  class="w-full mx-auto py-10 bg-gray-50 dark:bg-gray-900 dark:text-white"
>
  <div
    class="w-fit pb-1 px-2 mx-4 rounded-md text-2xl font-semibold border-b-2 border-green-600 dark:border-yellow-600"
  >
    Atendimentos Complementares
  </div>

  <!-- Card 1 -->
  <div
    class="xl:w-[80%] sm:w-[85%] xs:w-[90%] mx-auto flex md:flex-row xs:flex-col lg:gap-4 xs:gap-2 justify-center items-stretch mt-4"
  >
    <div class="lg:w-[50%] xs:w-full">
      <img
        class="w-full h-full object-cover lg:rounded-t-lg sm:rounded-sm xs:rounded-sm"
        src="assets/img/school/maker1.jpg"
        alt="billboard image"
      />
    </div>
    <div
      class="lg:w-[50%] xs:w-full bg-green-600 dark:bg-gray-900 dark:text-gray-400 md:p-4 xs:p-0 rounded-md flex flex-col items-center justify-center text-center mx-auto"
    >
      <h2 class="text-3xl font-semibold text-white dark:text-white font-sans">
        Sala Maker
      </h2>
      <p class="text-md mt-4 text-justify p-4 font-sans text-white">
        O espaço Maker é um ambiente diferenciado, com objetivo de viabilizar aos alunos com deficiência visual a oportunidade de realizar diversas tarefas criativas, de conhecer e aprender novas habilidades a partir da construção dos projetos propostos, tornando o aprendizado um processo prazeroso e totalmente tátil.
      </p>
    </div>
  </div>

  <!-- Card 2 -->
  <div
    class="xl:w-[80%] sm:w-[85%] xs:w-[90%] mx-auto flex md:flex-row xs:flex-col lg:gap-4 xs:gap-2 justify-center items-stretch mt-6"
  >
    <div class="md:hidden sm:block xs:block xs:w-full">
      <img
        class="w-full h-full object-cover lg:rounded-t-lg sm:rounded-sm xs:rounded-sm"
        src="assets/img/school/informatica1.jpg"
        alt="billboard image"
      />
    </div>
    <div
      class="lg:w-[50%] xs:w-full bg-green-600 dark:bg-gray-900 dark:text-gray-400 md:p-6 xs:p-4 rounded-md flex flex-col items-center justify-center text-center mx-auto"
    >
      <h2
        class="text-3xl text-center font-semibold text-white dark:text-white font-sans"
      >
        Informática
      </h2>
      <p class="text-md mt-4 text-justify p-4 font-sans text-white">
        O objetivo da informática educativa é possibilitar a utilização do computador para a descoberta de informações e a construção do conhecimento, com acesso à internet e softwares educativos com voz. Ocorrem aulas de diferentes disciplinas em parcerias e incentivo do professor.
      </p>
    </div>
    <div class="md:block sm:hidden xs:hidden lg:w-[50%] xs:w-full">
      <img
        class="w-full h-full object-cover lg:rounded-t-lg xs:rounded-sm"
        src="assets/img/school/informatica1.jpg"
        alt="billboard image"
      />
    </div>
  </div>


  <!-- Card 3 -->
  <div
    class="xl:w-[80%] sm:w-[85%] xs:w-[90%] mx-auto flex md:flex-row xs:flex-col lg:gap-4 xs:gap-2 justify-center items-stretch mt-4"
  >
    <div class="lg:w-[50%] xs:w-full">
      <img
        class="w-full h-full object-cover lg:rounded-t-lg sm:rounded-sm xs:rounded-sm"
        src="assets/img/school/dama.jpeg"
        alt="billboard image"
      />
    </div>
    <div
      class="lg:w-[50%] xs:w-full bg-green-600 dark:bg-gray-900 dark:text-gray-400 md:p-4 xs:p-0 rounded-md flex flex-col items-center justify-center text-center mx-auto"
    >
      <h2 class="text-3xl font-semibold text-white dark:text-white font-sans">
        Recursos Multifuncionais
      </h2>
      <p class="text-md mt-4 text-justify p-4 font-sans text-white">
        Realiza um trabalho pedagógico especializado com as limitações de aprendizagem do estudante, potencializando o ensino dos alunos com deficiência, promovendo o acesso a aprendizagem e participação no ensino regular.
      </p>
    </div>
  </div>
</section>
<!-- FIM Conteúdo Cards -->
<app-whatsapp-school></app-whatsapp-school>
<app-footer-social></app-footer-social>