<!-- HEADER e HEADING-->
<app-header-saude></app-header-saude>
<app-heading-cirurgias></app-heading-cirurgias>


<!-- CONTEÚDO -->
<section class="w-full mx-auto py-10 bg-gray-50 dark:bg-gray-900 dark:text-white">
    <div class="w-fit pb-1 px-2 mx-4 rounded-md text-2xl font-semibold border-b-2 border-green-600 dark:border-b-2 dark:border-yellow-600">
      Plástica Ocular
    </div>

    <div class="xl:w-[80%] sm:w-[85%] xs:w-[90%] mx-auto flex md:flex-row xs:flex-col lg:gap-4 xs:gap-2 justify-center lg:items-stretch md:items-center mt-4">
      <div class="lg:w-[50%] xs:w-full">
        <img class="lg:rounded-t-lg sm:rounded-sm xs:rounded-sm" src="assets/img/clinic/cirurgias/cirurgia-plastica.jpg" alt="Fotografia da platica ocular" />
      </div>
      <div class="lg:w-[50%] sm:w-full xs:w-full bg-green-100 dark:bg-gray-900 dark:text-gray-400 md:p-4 xs:p-0 rounded-md flex flex-col items-center justify-center text-center mx-auto">
        <h2 class="text-3xl font-semibold text-gray-900 dark:text-white font-sans">
          Conheça o procedimento
        </h2>
        <p class="text-md mt-4 text-justify  p-4 font-sans">
            A cirurgia plástica ocular é uma especialidade que visa <label class="destaque text-blue-700">melhorar a estética e a funcionalidade</label> das pálpebras
            e áreas ao redor dos olhos. Realizada por oftalmologistas experientes, essa cirurgia pode corrigir diversas
            condições, como ptose palpebral (queda das pálpebras), remoção de tumores, correção de cicatrizes, entre
            outros. Com técnicas modernas e minimamente invasivas, a cirurgia plástica ocular proporciona resultados
            naturais e rápidos, devolvendo a <label class="destaque text-blue-700">harmonia facial</label> e melhorando a qualidade de vida dos pacientes. 
        </p>
      </div>
    </div>
    <!-- col-2 -->
    <div class="xl:w-[80%] sm:w-[85%] xs:w-[90%] mx-auto flex md:flex-row xs:flex-col lg:gap-4 xs:gap-2 justify-center lg:items-stretch md:items-center mt-6">
      <!--  -->
      <div class="md:hidden sm:block xs:block xs:w-full">
        <img class="lg:rounded-t-lg sm:rounded-sm xs:rounded-sm" src="assets/img/clinic/galeria/medico-com-crianca.jpg" alt="billboard image" />
      </div>
      <!--  -->
      <div class="lg:w-[50%] xs:w-full bg-green-100 dark:bg-gray-900 dark:text-gray-400 md:p-4 xs:p-0 rounded-md flex flex-col items-center justify-center text-center mx-auto">
        <h2 class="text-3xl text-gray-900 dark:text-white font-sans">
          Mais informações
        </h2>
        <p class="text-md mt-4 text-justify  p-4 font-sans">
            Ao escolher nossa clínica para realizar sua cirurgia plástica ocular, você estará confiando em uma equipe
            qualificada, comprometida com o seu bem-estar e satisfação. Além disso, com a sua escolha, você também
            apoia os projetos sociais da Sociedade de Assistência aos Cegos, que incluem a escola para cegos e
            iniciativas de inclusão e autonomia. Agende sua consulta e descubra como podemos ajudar você a alcançar
            a estética e a funcionalidade que busca, enquanto transforma vidas com o seu apoio!            
        </p>
      </div>
      <!--  -->
      <div class="md:block sm:hidden xs:hidden lg:w-[50%] xs:w-full">
        <img class="lg:rounded-t-lg xs:rounded-sm" src="assets/img/clinic/galeria/medico-com-crianca.jpg" alt="billboard image" />
      </div>
    </div>
</section>
<!-- FIM DO CONTEÚDO -->

<!-- CALL TO ACTION -->
<app-marque-sua-consulta></app-marque-sua-consulta>

<!-- FOOTER -->
<app-footer-saude></app-footer-saude>