<!-- HEADER -->
<app-header-saude></app-header-saude>

<!-- HEADING -->
<app-heading-exames></app-heading-exames>

<!-- SEÇÃO COM MAIS TEXTO -->
<section class="w-full mx-auto py-10 bg-accent-100 dark:text-white">
    <div
      class="w-fit pb-1 px-2 mx-4 rounded-md text-accent-900 text-2xl font-semibold border-b-2 border-blue-600 dark:border-b-2 dark:border-purple-600"
    >
      Acuidade Visual
    </div>
  
    <div
      class="xl:w-[80%] sm:w-[85%] xs:w-[90%] mx-auto flex md:flex-row xs:flex-col lg:gap-4 xs:gap-2 justify-center lg:items-stretch md:items-center mt-4"
    >
      <div class="lg:w-[50%] xs:w-full">
        <img
          class="lg:rounded-t-lg sm:rounded-sm xs:rounded-sm"
          src="/assets/images/liberaca-service.jpg"
          alt="Foto de Liberação"
        />
      </div>
      <div
        class="lg:w-[50%] sm:w-full xs:w-full bg-accent-900 text-gray-200 md:p-4 xs:p-0 rounded-md"
      >
        <h2 class="text-3xl font-semibold text-gray-900 dark:text-white">
          Libere seus músculos
        </h2>
        <p class="text-md mt-4">
          Sinta o alívio que seu corpo merece! Experimente a liberação muscular e
          ventosa terapia e diga adeus às dores e tensões. Agende sua sessão agora
          mesmo e renove suas energias!
        </p>
      </div>
    </div>
    <!-- col-2 -->
    <div
      class="xl:w-[80%] sm:w-[85%] xs:w-[90%] mx-auto flex md:flex-row xs:flex-col lg:gap-4 xs:gap-2 justify-center lg:items-stretch md:items-center mt-6"
    >
      <!--  -->
  
      <div
        class="lg:w-[50%] xs:w-full bg-accent-900 text-gray-200 md:p-4 xs:p-0 rounded-md"
      >
        <h2 class="text-3xl font-semibold text-gray-900 dark:text-white">
          Aliviando dor e tensão
        </h2>
  
        <p class="text-md mt-4">
          A liberação miofascial consiste em uma técnica preventiva de lesões e
          alívio de dores musculares. Relaxe, alivie a tensão e recupere a
          mobilidade. Agende sua sessão e sinta a diferença!
        </p>
      </div>
      <!--  -->
      <!-- PARTE DO VÍDEO -->
      <div class="md:block sm:hidden xs:hidden lg:w-[50%] xs:w-full">
        <iframe
          src="https://www.youtube.com/embed/ikxQpPj0ksU?autoplay=1&mute=1&controls=1&rel=0&showinfo=0"
          frameborder="0"
          width="600"
          height="350"
          allowfullscreen
        ></iframe>
      </div>
    </div>
  </section>
  
  <!-- CONTATO -->
  
  <div class="w-full grid gap-7 bg-primary-300">
    <div class="grid gap-3 m-1">
      <h2
        class="text-center text-white text-3xl font-bold font-manrope leading-10"
      >
        Marque uma sessão conosco
      </h2>
      <p
        class="xl:max-w-2xl w-auto mx-auto text-center text-white text-base font-normal leading-relaxed"
      >
        Não deixe as dores te controlarem! Aproveite nossa promoção especial e
        agende suas sessões. Sua saúde agradece!
      </p>
    </div>
  
    <div class="gap-1 flex flex-wrap justify-center">
      <button
        class="px-4 py-2 bg-green-600 hover:bg-indigo-700 transition-all duration-500 rounded-xl"
      >
        <span class="text-white text-base font-medium">Falar no whatsapp</span>
      </button>
    </div>
    <div></div>
    <!--Essa div é só pra fazer uma margem -->
  </div>
  

<!-- FOOTER -->
<app-footer-saude></app-footer-saude>