<nav class="relative flex items-center justify-between sm:h-10 md:justify-center py-6 px-4 mt-2 m-2 font-sans">
  <div class="flex items-center flex-1 md:absolute md:inset-y-0 md:left-0">
      <div class="flex items-center justify-between w-full md:w-auto">
          <a href="" aria-label="Home">
              <img src="assets/logos/sac-logo.png" height="40" width="40" />
          </a>
          <div class="-mr-2 flex items-center md:hidden">

              <!-- Texto "Instituto de Cegos" que aparece no modo responsivo -->
              <span class="ml-4 text-lg font-bold text-gray-700 block md:hidden text-center mr-8">
                  Clínica Instituto de Cegos
              </span>

              <!-- Botão de Hambúrguer Animado -->
              <button
                  type="button"
                  (click)="isMenuOpen = !isMenuOpen"
                  aria-label="Main menu"
                  aria-haspopup="true"
                  class="relative w-14 h-14 focus:outline-none rounded bg-teal-600"
              >
                  <div class="block w-5 absolute left-6 top-1/2 transform -translate-x-1/2 -translate-y-1/2">
                      <!-- Linha superior -->
                      <span
                          class="block absolute h-0.5 w-7 bg-white transform transition duration-500 ease-in-out"
                          [ngClass]="{'rotate-45': isMenuOpen, '-translate-y-1.5': !isMenuOpen}"
                      ></span>
                      <!-- Linha do meio -->
                      <span
                          class="block absolute h-0.5 w-5 bg-white transform transition duration-500 ease-in-out"
                          [ngClass]="{'opacity-0': isMenuOpen}"
                      ></span>
                      <!-- Linha inferior -->
                      <span
                          class="block absolute h-0.5 w-7 bg-white transform transition duration-500 ease-in-out"
                          [ngClass]="{'-rotate-45': isMenuOpen, 'translate-y-1.5': !isMenuOpen}"
                      ></span>
                  </div>
              </button>
          </div>
      </div>
  </div>
  <!-- Menu principal em telas maiores -->
  <div class="hidden md:flex md:space-x-10">
      <a class="font-medium text-gray-500 hover:text-gray-900 transition duration-150 ease-in-out cursor-pointer" (click)="navegar('consultas')">
        Consultas
      </a>
      <a class="font-medium text-gray-500 hover:text-gray-900 transition duration-150 ease-in-out cursor-pointer" (click)="navegar('exames')">
        Exames
      </a>
      <a (click)="navegar('cirurgias')" class="font-medium text-gray-500 hover:text-gray-900 transition duration-150 ease-in-out cursor-pointer ">
        Cirurgias
      </a>
      <a (click)="navegar('faq')" target="_blank" class="font-medium text-gray-500 hover:text-gray-900 transition duration-150 ease-in-out cursor-pointer ">
        Dúvidas
      </a>
  </div>
  <div class="hidden md:absolute md:flex md:items-center md:justify-end md:inset-y-0 md:right-0">
      <span class="inline-flex">
          <a href="/login" class="inline-flex items-center px-4 py-2 border border-transparent text-base leading-6 font-medium text-blue-600 hover:text-green-500 focus:outline-none transition duration-150 ease-in-out">
              Faça uma doação
          </a>
      </span>
      <span class="inline-flex rounded-md shadow ml-2">
          <a href="/signup" class="inline-flex items-center px-4 py-2 border border-transparent text-base leading-6 font-medium rounded-md text-white bg-primary-400 hover:bg-blue-500 focus:outline-none focus:border-blue-700 transition duration-150 ease-in-out">
              Marque uma consulta
          </a>
      </span>
  </div>
</nav>

<!-- Menu dropdown para dispositivos móveis -->
<div *ngIf="isMenuOpen" class="md:hidden bg-white shadow-lg rounded-lg mt-2 px-4 py-6 space-y-4 text-center">
  <a (click)="navegar('consultas')" class="block font-medium text-gray-700 hover:text-gray-900 transition duration-150 ease-in-out">Consultas</a>
  <a (click)="navegar('exames')" class="block font-medium text-gray-700 hover:text-gray-900 transition duration-150 ease-in-out">Exames</a>
  <a (click)="navegar('cirurgias')" class="block font-medium text-gray-700 hover:text-gray-900 transition duration-150 ease-in-out">Cirurgias</a>
  <a (click)="navegar('faq')" target="_blank" class="block font-medium text-gray-700 hover:text-gray-900 transition duration-150 ease-in-out">Dúvidas</a>
  <a href="/login" class="block font-medium text-blue-600 hover:text-blue-500 transition duration-150 ease-in-out">Trabalho Social</a>
  <a href="/signup" class="block font-medium text-white bg-blue-600 hover:bg-blue-500 rounded-md px-4 py-2 transition duration-150 ease-in-out">
      Marque uma consulta
  </a>
</div>



<!-- <header class="text-gray-600 body-font bg-primary-200">
    <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
      <a class="flex title-font font-medium items-center text-gray-900 mb-4 md:mb-0 cursor-pointer"
      (click)="navegar('/')">
        <img src="assets/logos/sac-logo.png" alt="SAC Logo" class="w-12 h-12 p-0 rounded-full" />
        <span class="ml-3 text-xl">SAC Saúde</span>
      </a>
      <nav class="md:ml-auto md:mr-auto flex flex-wrap items-center text-base justify-center">
        <a class="mr-5 hover:text-gray-900 cursor-pointer" (click)="navegar('consultas')">Consultas</a>
        <a class="mr-5 hover:text-gray-900 cursor-pointer" (click)="navegar('exames')">Exames</a>
        <a class="mr-5 hover:text-gray-900 cursor-pointer" (click)="navegar('cirurgias')">Cirurgias</a>
        <a class="mr-5 hover:text-gray-900 cursor-pointer" (click)="navegar('faq')">Dúvidas</a>
        <a class="mr-5 hover:text-gray-900 cursor-pointer" (click)="navegar('social')">Social</a>
      </nav>
      <button class="inline-flex items-center bg-gray-100 border-0 py-1 px-3 focus:outline-none hover:bg-primary-500 hover:text-white rounded text-base mt-4 md:mt-0">Fale conosco
        <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-1" viewBox="0 0 24 24">
          <path d="M5 12h14M12 5l7 7-7 7"></path>
        </svg>
      </button>
    </div>
  </header> -->