<!-- HEADER e HEADING-->
<app-header-saude></app-header-saude>
<app-heading-cirurgias></app-heading-cirurgias>


<!-- CONTEÚDO -->
<section class="w-full mx-auto py-10 bg-gray-50 dark:bg-gray-900 dark:text-white">
    <div class="w-fit pb-1 px-2 mx-4 rounded-md text-2xl font-semibold border-b-2 border-green-600 dark:border-b-2 dark:border-yellow-600">
      Transplante de Córnea
    </div>

    <div class="xl:w-[80%] sm:w-[85%] xs:w-[90%] mx-auto flex md:flex-row xs:flex-col lg:gap-4 xs:gap-2 justify-center lg:items-stretch md:items-center mt-4">
      <div class="lg:w-[50%] xs:w-full">
        <img class="lg:rounded-t-lg sm:rounded-sm xs:rounded-sm" src="assets/img/clinic/cirurgias/cirurgia-corneajpg.jpg" alt="Fotografia da platica ocular" />
      </div>
      <div class="lg:w-[50%] sm:w-full xs:w-full bg-green-600 dark:bg-gray-900 dark:text-gray-400 md:p-4 xs:p-0 rounded-md flex flex-col items-center justify-center text-center mx-auto">
        <h2 class="text-3xl font-semibold text-white dark:text-white font-sans">
          Conheça o procedimento
        </h2>
        <p class="text-md mt-4 text-justify text-white p-4 font-sans">
            O transplante de córnea é um procedimento oftalmológico realizado para substituir a córnea danificada ou opaca por uma <label class="destaque bg-white text-blue-700">córnea saudável</label> de um doador. Esse procedimento é indicado para casos de doenças como ceratocone, trauma 
            ocular ou infecções que comprometem a transparência da córnea e afetam a visão. O transplante de córnea pode 
            <label class="destaque bg-white text-blue-700"> restaurar significativamente a visão e melhorar a qualidade de vida</label> dos pacientes, permitindo que retomem suas 
            atividades cotidianas com clareza.  
            <label class="destaque text-blue-700"></label> 
        </p>
      </div>
    </div>
    <!-- col-2 -->
    <div class="xl:w-[80%] sm:w-[85%] xs:w-[90%] mx-auto flex md:flex-row xs:flex-col lg:gap-4 xs:gap-2 justify-center lg:items-stretch md:items-center mt-6">
      <!--  -->
      <div class="md:hidden sm:block xs:block xs:w-full">
        <img class="lg:rounded-t-lg sm:rounded-sm xs:rounded-sm" src="assets/img/clinic/galeria/medico-com-crianca.jpg" alt="billboard image" />
      </div>
      <!--  -->
      <div class="lg:w-[50%] xs:w-full bg-green-600 dark:bg-gray-900 dark:text-gray-400 md:p-4 xs:p-0 rounded-md flex flex-col items-center justify-center text-center mx-auto">
        <h2 class="text-3xl text-white dark:text-white font-sans">
          Mais informações
        </h2>
        <p class="text-md mt-4 text-justify text-white p-4 font-sans">
            Ao escolher nossa clínica para realizar seu transplante de córnea, você contará com uma equipe de especialistas 
altamente qualificados, comprometidos em proporcionar os melhores resultados para a sua saúde ocular. Além disso, ao 
optar pelos nossos serviços, você também estará contribuindo para a manutenção dos projetos sociais da Sociedade de 
Assistência aos Cegos, incluindo a escola para cegos e outras iniciativas de inclusão. Agende sua consulta e ajude a 
recuperar sua visão enquanto transforma a vida de muitas pessoas com sua escolha!           
        </p>
      </div>
      <!--  -->
      <div class="md:block sm:hidden xs:hidden lg:w-[50%] xs:w-full">
        <img class="lg:rounded-t-lg xs:rounded-sm" src="assets/img/clinic/galeria/medico-com-crianca.jpg" alt="billboard image" />
      </div>
    </div>
</section>
<!-- FIM DO CONTEÚDO -->

<!-- CALL TO ACTION -->
<app-marque-sua-consulta></app-marque-sua-consulta>

<!-- FOOTER -->
<app-footer-saude></app-footer-saude>