<!-- HEADER e HEADING-->
<app-header-saude></app-header-saude>
<app-heading-cirurgias></app-heading-cirurgias>


<!-- CONTEÚDO -->
<section class="w-full mx-auto py-10 bg-gray-50 dark:bg-gray-900 dark:text-white">
    <div class="w-fit pb-1 px-2 mx-4 rounded-md text-2xl font-semibold border-b-2 border-green-600 dark:border-b-2 dark:border-yellow-600">
      Cirurgia de Catarata
    </div>

    <div class="xl:w-[80%] sm:w-[85%] xs:w-[90%] mx-auto flex md:flex-row xs:flex-col lg:gap-4 xs:gap-2 justify-center lg:items-stretch md:items-center mt-4">
      <div class="lg:w-[50%] xs:w-full">
        <img class="lg:rounded-t-lg sm:rounded-sm xs:rounded-sm" src="assets/img/clinic/cirurgias/cirurgia-catarata.jpg" alt="Fotografia da platica ocular" />
      </div>
      <div class="lg:w-[50%] sm:w-full xs:w-full bg-green-600 dark:bg-gray-900 dark:text-gray-400 md:p-4 xs:p-0 rounded-md flex flex-col items-center justify-center text-center mx-auto">
        <h2 class="text-3xl font-semibold text-white dark:text-white font-sans">
          Conheça o procedimento
        </h2>
        <p class="text-md mt-4 text-justify text-white p-4 font-sans">
            A cirurgia de catarata é um procedimento oftalmológico <label class="destaque bg-white text-blue-700">altamente eficaz</label>  para tratar a opacidade do
            cristalino, uma condição que pode causar visão turva ou embaçada. Durante a cirurgia, o cristalino opaco é
            removido e substituído por uma lente intraocular, restaurando a clareza da visão. A cirurgia é rápida, segura
            e possui <label class="destaque bg-white text-blue-700">alta taxa de sucesso,</label>  permitindo que o paciente recupere sua capacidade visual e retome suas
            atividades diárias com qualidade. 
        </p>
      </div>
    </div>
    <!-- col-2 -->
    <div class="xl:w-[80%] sm:w-[85%] xs:w-[90%] mx-auto flex md:flex-row xs:flex-col lg:gap-4 xs:gap-2 justify-center lg:items-stretch md:items-center mt-6">
      <!--  -->
      <div class="md:hidden sm:block xs:block xs:w-full">
        <img class="lg:rounded-t-lg sm:rounded-sm xs:rounded-sm" src="assets/img/clinic/galeria/medico-com-crianca.jpg" alt="billboard image" />
      </div>
      <!--  -->
      <div class="lg:w-[50%] xs:w-full bg-green-600 dark:bg-gray-900 dark:text-gray-400 md:p-4 xs:p-0 rounded-md flex flex-col items-center justify-center text-center mx-auto">
        <h2 class="text-3xl text-white dark:text-white font-sans">
          Mais informações
        </h2>
        <p class="text-md mt-4 text-justify text-white p-4 font-sans">
            Ao optar pela cirurgia de catarata em nossa clínica, você estará sendo acompanhado por uma equipe de
especialistas que garantem resultados de excelência e recuperação rápida. Além disso, sua escolha
colabora com os projetos sociais da Sociedade de Assistência aos Cegos, ajudando a manter a escola para
cegos e outras iniciativas de inclusão. Agende sua consulta hoje mesmo e veja o mundo novamente com
clareza, enquanto contribui para um futuro melhor para todos!           
        </p>
      </div>
      <!--  -->
      <div class="md:block sm:hidden xs:hidden lg:w-[50%] xs:w-full">
        <img class="lg:rounded-t-lg xs:rounded-sm" src="assets/img/clinic/galeria/medico-com-crianca.jpg" alt="billboard image" />
      </div>
    </div>
</section>
<!-- FIM DO CONTEÚDO -->

<!-- CALL TO ACTION -->
<app-marque-sua-consulta></app-marque-sua-consulta>

<!-- FOOTER -->
<app-footer-saude></app-footer-saude>