<!-- source https://github.com/spacemadev/elevate-free-tailwind-business-template/ -->
<section id="portfolio" class="portfolio-section py-16 px-4 bg-primary-50 font-sans">
    <div class="container mx-auto">
        <div class="text-center mb-12">
            <h2 class="text-4xl font-bold mb-4">Em que podemos ajudar?</h2>
            <p class="text-lg text-indigo-500 font-semibold">
                Conheça nossos serviços
            </p>
        </div>
        <!-- <div class="flex flex-col md:flex-row items-center mb-8">
            <button class="filter-button bg-indigo-500 hover:bg-pink-500 px-4 py-2 mr-2 mb-2 text-white rounded">All</button>
            <button class="filter-button  bg-indigo-500 hover:bg-pink-500 px-4 py-2 mr-2 mb-2 text-white rounded">Web Design</button>
            <button class="filter-button  bg-indigo-500 hover:bg-pink-500 px-4 py-2 mr-2 mb-2 text-white rounded">App Development</button>
            <button class="filter-button  bg-indigo-500 hover:bg-pink-500 px-4 py-2 mr-2 mb-2 text-white rounded">Branding</button>
        </div> -->

        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-10">
            <div class="group portfolio-item relative hover:shadow-lg shadow-md rounded-lg overflow-hidden border border-primary-200">
                <a class="cursor-pointer" (click)="navegar('consultas')">
                    <img class="w-full h-60 object-cover" src="assets/img/clinic/atendimento.jpeg" alt="Atendimento">
                    <div
                        class="absolute top-0 left-0 right-0 bottom-0 bg-gradient-to-r from-green-400 to-blue-400 opacity-0 transition duration-300 ease-in-out group-hover:opacity-70">
                    </div>
                    <div class="p-4 flex flex-col items-center justify-between relative z-10 ">
                        <h3 class="text-lg font-medium text-txt group-hover:text-gray-dark">
                            Consultas oftalmológicas
                        </h3>
                        <span class="text-sm font-bold text-green-700 group-hover:text-secondary-600">
                            Veja opções de consultas
                        </span>
                    </div>
                </a>
            </div>
            <div class="group portfolio-item relative hover:shadow-lg shadow-md rounded-lg overflow-hidden border border-primary-200">
                <a class="cursor-pointer" (click)="navegar('exames')">
                    <img class="w-full h-60 object-cover" src="assets/img/clinic/exame-oftalmologico.jpg" alt="Project 1">
                    <div
                        class="absolute top-0 left-0 right-0 bottom-0 bg-gradient-to-r from-green-400 to-blue-400 opacity-0 transition duration-300 ease-in-out group-hover:opacity-70">
                    </div>
                    <div class="p-4 flex flex-col items-center justify-between relative z-10">
                        <h3 class="text-lg font-medium text-txt group-hover:text-gray-dark">
                            Exames
                        </h3>
                        <span class="text-sm font-bold text-green-700 group-hover:text-secondary-600">Veja todos os exames</span>
                    </div>
                </a>
            </div>
            <div class="group portfolio-item relative hover:shadow-lg shadow-md rounded-lg overflow-hidden border border-primary-200">
                <a class="cursor-pointer" (click)="navegar('cirurgias')">
                    <img class="w-full h-60 object-cover" src="assets/img/clinic/card-gallery3.png" alt="Project 1">
                    <div
                        class="absolute top-0 left-0 right-0 bottom-0 bg-gradient-to-r from-green-400 to-blue-400 opacity-0 transition duration-300 ease-in-out group-hover:opacity-70">
                    </div>
                    <div class="p-4 flex flex-col items-center justify-between relative z-10">
                        <h3 class="text-lg font-medium text-txt group-hover:text-gray-dark">
                            Cirurgias
                        </h3>
                        <span class="text-sm font-bold text-green-700 group-hover:text-secondary-600">
                            Veja todas as cirurgias 
                        </span>
                    </div>
                </a>
            </div>
            <!-- <div class="group portfolio-item relative hover:shadow-lg shadow-md rounded-lg overflow-hidden border border-primary-200">
                <a class="cursor-pointer" (click)="navegar('escola')">
                    <img class="w-full h-60 object-cover" src="assets/img/school/profa-aluno.jpg" alt="Escola com aluno">
                    <div
                        class="absolute top-0 left-0 right-0 bottom-0 bg-gradient-to-r from-indigo-500 to-pink-500 opacity-0 transition duration-300 ease-in-out group-hover:opacity-70">
                    </div>
                    <div class="p-4 flex flex-col items-center justify-between relative z-10">
                        <h3 class="text-lg font-medium text-txt group-hover:text-gray-dark">
                            Serviços Escolares
                        </h3>
                        <span class="text-sm font-bold text-pink-500 group-hover:text-indigo-500">
                            Conheça a escola
                        </span>
                    </div>
                </a>
            </div> -->
            <!-- <div class="group portfolio-item relative hover:shadow-lg shadow-md rounded-lg overflow-hidden border border-primary-200">
                <a href="/project-5">
                    <img class="w-full h-60 object-cover" src="assets/img/school/assistSocial.jpg" alt="Serviços sociais da instituição">
                    <div
                        class="absolute top-0 left-0 right-0 bottom-0 bg-gradient-to-r from-indigo-500 to-pink-500 opacity-0 transition duration-300 ease-in-out group-hover:opacity-70">
                    </div>
                    <div class="p-4 flex flex-col items-center justify-between relative z-10">
                        <h3 class="text-lg font-medium text-txt group-hover:text-gray-dark">
                            Assistência Social
                        </h3>
                        <span class="text-sm font-bold text-pink-500 group-hover:text-indigo-500">
                            Conheça nossos serviços sociais
                        </span>
                    </div>
                </a>
            </div> -->
            <!-- <div class="group portfolio-item relative hover:shadow-lg shadow-md rounded-lg overflow-hidden border border-primary-200">
                <a href="/project-6">
                    <img class="w-full h-60 object-cover" src="assets/img/school/salamaker.jpg" alt="Project 1">
                    <div
                        class="absolute top-0 left-0 right-0 bottom-0 bg-gradient-to-r from-indigo-500 to-pink-500 opacity-0 transition duration-300 ease-in-out group-hover:opacity-70">
                    </div>
                    <div class="p-4 flex flex-col items-center justify-between relative z-10">
                        <h3 class="text-lg font-medium text-txt group-hover:text-gray-dark">
                            Projetos e Parcerias
                        </h3>
                        <span class="text-sm font-bold text-pink-500 group-hover:text-indigo-500">
                            Conheça nossos Projetos
                        </span>
                    </div>
                </a>
            </div> -->
        </div>
    </div>
</section>