<div class="relative">
  <!-- Carrossel como background -->
  <app-carrossel
    class="absolute inset-0"
    [imagens]="[
      '/assets/img/clinic/hero-clinic1.jpg', 
      '/assets/img/clinic/hero-clinic2.jpg', 
      '/assets/img/clinic/hero-clinic3.jpg' 
    ]"
  ></app-carrossel>

  <!-- Seção com o conteúdo sobreposto -->
  <section class="relative text-gray-400 bg-primary-200 bg-opacity-75 body-font z-10">
    <div class="container mx-auto flex px-5 pt-32 pb-6 md:py-16 md:flex-row flex-col items-center min-h-screen justify-center">
      <div class="lg:flex-grow md:w-1/2 lg:pr-24 md:pr-16 flex flex-col md:items-start md:text-left mb-16 md:mb-0 items-center text-center">
        <h1 class="title-font text-5xl sm:text-6xl lg:text-7xl mb-4 font-bold text-white z-20">
          <span class="text-3xl sm:text-4xl lg:text-5xl font-medium">Sociedade de Assistência aos Cegos</span>
        </h1>
        <p class="mb-8 leading-relaxed text-justify text-accent-50 z-20 max-w-full sm:max-w-md md:max-w-lg lg:max-w-xl">
          Localizada em uma região de fácil acesso, a Sociedade de Assistência aos Cegos (SAC) oferece um hospital moderno, uma clínica acolhedora e projetos de assistência social, promovendo saúde ocular e apoio à comunidade com um atendimento humanizado e especializado.
        </p>
        <div class="flex flex-col sm:flex-row justify-center gap-4 z-20">
          <button class="text-white bg-indigo-500 py-2 px-4 sm:px-6 focus:outline-none hover:scale-105 hover:bg-purple-600 duration-300 rounded text-sm sm:text-lg whitespace-nowrap">
            Agende uma consulta
          </button>
          <button class="text-accent-50 bg-green-600 py-2 px-4 sm:px-6 focus:outline-none hover:scale-105 hover:bg-green-800 duration-300 hover:text-white rounded text-sm sm:text-lg whitespace-nowrap">
            Saiba mais
          </button>
        </div>
      </div>
    </div>
  </section>
  
  
</div>
