<!-- HEADER -->
<app-header-saude></app-header-saude>

<!-- HEADING -->
<app-heading-exames></app-heading-exames>

<!-- CONTEÚDO -->
<section class="w-full mx-auto py-10 bg-gray-50 dark:bg-gray-900 dark:text-white">
  <div class="w-fit pb-1 px-2 mx-4 rounded-md text-2xl font-semibold border-b-2 border-green-600 dark:border-b-2 dark:border-yellow-600">
    Angiografia
  </div>

  <div class="xl:w-[80%] sm:w-[85%] xs:w-[90%] mx-auto flex md:flex-row xs:flex-col lg:gap-4 xs:gap-2 justify-center lg:items-stretch md:items-center mt-4">
    <div class="lg:w-[50%] xs:w-full">
      <img class="lg:rounded-t-lg sm:rounded-sm xs:rounded-sm" src="assets/img/clinic/exames/exame-angiografia.jpg" alt="exame de angiografia" />
    </div>
    <div class="lg:w-[50%] sm:w-full xs:w-full bg-green-600 dark:bg-gray-900 dark:text-gray-400 md:p-4 xs:p-0 rounded-md flex flex-col items-center justify-center text-center mx-auto">
      <h2 class="text-3xl font-semibold text-white dark:text-white font-sans">
        Conheça o procedimento
      </h2>
      <p class="text-md mt-4 text-justify  p-4 font-sans text-white">
        A angiografia com fluorescência é um exame especializado utilizado para examinar os vasos 
sanguíneos da retina. Através da injeção de um corante, a técnica permite identificar 
problemas como retinopatias diabéticas, degeneração macular e outros distúrbios vasculares 
que afetam a visão. O exame é essencial para o diagnóstico precoce e o acompanhamento de 
condições graves.
<br>
A angiografia com fluorescência é um procedimento seguro e amplamente utilizado, realizado por profissionais altamente qualificados e com vasta experiência em diagnósticos oftalmológicos. Na nossa clínica, garantimos um ambiente confortável e equipamentos de última geração para que o exame seja realizado de forma tranquila e eficaz. Além disso, nossa equipe está sempre à disposição para esclarecer dúvidas e acompanhar cada etapa do processo, proporcionando segurança e confiança aos pacientes.
      </p>
    </div>
  </div>
  <!-- col-2 -->
  <div class="xl:w-[80%] sm:w-[85%] xs:w-[90%] mx-auto flex md:flex-row xs:flex-col lg:gap-4 xs:gap-2 justify-center lg:items-stretch md:items-center mt-6">
    <!--  -->
    <div class="md:hidden sm:block xs:block xs:w-full">
      <img class="lg:rounded-t-lg sm:rounded-sm xs:rounded-sm" src="assets/img/clinic/galeria/medico-com-crianca.jpg" alt="billboard image" />
    </div>
    <!--  -->
    <div class="lg:w-[50%] xs:w-full bg-green-600 dark:bg-gray-900 dark:text-gray-400 md:p-4 xs:p-0 rounded-md flex flex-col items-center justify-center text-center mx-auto">
      <h2 class="text-3xl text-white dark:text-white font-sans">
        Mais informações
      </h2>
      <p class="text-md mt-4 text-justify  text-white p-4 font-sans">
        Ao escolher realizar a angiografia com fluorescência conosco, você está confiando sua saúde 
ocular a profissionais especializados. Além disso, sua escolha contribui para os projetos sociais 
da nossa instituição, promovendo inclusão e autonomia. Agende sua avaliação e veja como 
podemos melhorar sua saúde ocular enquanto você ajuda a transformar vidas! 
      </p>
    </div>
    <!--  -->
    <div class="md:block sm:hidden xs:hidden lg:w-[50%] xs:w-full">
      <img class="lg:rounded-t-lg xs:rounded-sm" src="assets/img/clinic/galeria/medico-com-crianca.jpg" alt="billboard image" />
    </div>
  </div>
</section>
<!-- FIM DO CONTEÚDO -->

<!-- CALL TO ACTION -->
<app-marque-sua-consulta></app-marque-sua-consulta>

  

<!-- FOOTER -->
<app-footer-saude></app-footer-saude>