<!-- HEADER e HEADING-->
<app-header-saude></app-header-saude>
<app-heading-cirurgias></app-heading-cirurgias>


<!-- CONTEÚDO -->
<section class="w-full mx-auto py-10 bg-gray-50 dark:bg-gray-900 dark:text-white">
    <div class="w-fit pb-1 px-2 mx-4 rounded-md text-2xl font-semibold border-b-2 border-green-600 dark:border-b-2 dark:border-yellow-600">
      Implante de Anel Intraestromal
    </div>

    <div class="xl:w-[80%] sm:w-[85%] xs:w-[90%] mx-auto flex md:flex-row xs:flex-col lg:gap-4 xs:gap-2 justify-center lg:items-stretch md:items-center mt-4">
      <div class="lg:w-[50%] xs:w-full">
        <img class="lg:rounded-t-lg sm:rounded-sm xs:rounded-sm" src="assets/img/clinic/cirurgias/cirurgia-anel.png" alt="billboard image" />
      </div>
      <div class="lg:w-[50%] sm:w-full xs:w-full bg-green-100 dark:bg-gray-900 dark:text-gray-400 md:p-4 xs:p-0 rounded-md flex flex-col items-center justify-center text-center mx-auto">
        <h2 class="text-3xl font-semibold text-gray-900 dark:text-white font-sans">
          Conheça o procedimento
        </h2>
        <p class="text-md mt-4 text-justify  p-4 font-sans">
          O implante de anel intraestromal é uma técnica avançada e minimamente invasiva utilizada para tratar casos de ceratocone e outras condições que afetam a curvatura da córnea. O procedimento consiste na inserção de pequenos anéis semicirculares dentro do tecido corneano, ajudando a remodelar sua forma e melhorar significativamente a visão do paciente. Por ser uma intervenção precisa e de recuperação rápida, o implante é uma excelente opção para quem busca estabilidade visual e maior qualidade de vida, muitas vezes reduzindo a necessidade de transplantes de córnea no futuro.
        </p>
      </div>
    </div>
    <!-- col-2 -->
    <div class="xl:w-[80%] sm:w-[85%] xs:w-[90%] mx-auto flex md:flex-row xs:flex-col lg:gap-4 xs:gap-2 justify-center lg:items-stretch md:items-center mt-6">
      <!--  -->
      <div class="md:hidden sm:block xs:block xs:w-full">
        <img class="lg:rounded-t-lg sm:rounded-sm xs:rounded-sm" src="assets/img/clinic/galeria/medico-com-crianca.jpg" alt="billboard image" />
      </div>
      <!--  -->
      <div class="lg:w-[50%] xs:w-full bg-green-100 dark:bg-gray-900 dark:text-gray-400 md:p-4 xs:p-0 rounded-md flex flex-col items-center justify-center text-center mx-auto">
        <h2 class="text-3xl text-gray-900 dark:text-white font-sans">
          Mais informações
        </h2>
        <p class="text-md mt-4 text-justify  p-4 font-sans">
          Ao optar pela cirurgia em nossa clínica, você não estará apenas cuidando da sua visão, mas também contribuindo para uma causa maior. Todo o valor arrecadado com os procedimentos é destinado a manter os projetos sociais da Sociedade de Assistência aos Cegos, que incluem uma escola para cegos e outras iniciativas que promovem inclusão e autonomia. Confie sua saúde ocular aos nossos especialistas e ajude a transformar vidas com o seu gesto. Agende uma consulta e descubra como podemos ajudar você a enxergar melhor e fazer a diferença!
        </p>
      </div>
      <!--  -->
      <div class="md:block sm:hidden xs:hidden lg:w-[50%] xs:w-full">
        <img class="lg:rounded-t-lg xs:rounded-sm" src="assets/img/clinic/galeria/medico-com-crianca.jpg" alt="billboard image" />
      </div>
    </div>
</section>
<!-- FIM DO CONTEÚDO -->

<!-- CALL TO ACTION -->
<app-marque-sua-consulta></app-marque-sua-consulta>

<!-- FOOTER -->
<app-footer-saude></app-footer-saude>