<section class="bg-white dark:bg-gray-900">
  <div class="gap-16 items-center py-8 px-4 mx-auto max-w-screen-xl lg:grid lg:grid-cols-2 lg:py-16 lg:px-6">
      <div class="font-light text-gray-500 sm:text-lg dark:text-gray-400">
        <div class="text-4xl font-bold mb-4">
          A solução para problemas oculares <span class="text-green-600">com segurança</span> e excelência<span class="text-green-600">.</span>
        </div>
          <!-- <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-gray-900 dark:text-white">
            A solução para problemas oculares com segurança e excelência
          </h2> -->
          <p class="mb-4 text-justify">
            Se você precisa de um tratamento cirúrgico para melhorar sua visão, nossa clínica é o lugar certo. Realizamos cirurgias modernas, como correção de catarata, tratamento para glaucoma e outras condições oculares, sempre com equipamentos de última geração e uma equipe experiente.   
          </p>
          <p class="mb-4 text-justify">
            Oferecemos atendimento para pacientes particulares, de convênios e pelo SUS, garantindo acessibilidade e excelência em cada procedimento. Aqui, a sua segurança e o cuidado com os seus olhos são nossas prioridades.
          </p>
          <p class="mb-4 text-justify text-green-600">
            Confie em quem é referência no cuidado oftalmológico. Agende sua cirurgia e veja o mundo com novos olhos!
          </p>
      </div>
      <div class="grid grid-cols-2 gap-4 mt-8">
          <img class="w-full rounded-lg" src="assets/img/clinic/cirurgias/cir-vertical11.jpg" alt="office content 1">
          <img class="mt-4 w-full lg:mt-10 rounded-lg" src="assets/img/clinic/cirurgias/cir-vertical22.jpg" alt="office content 2">
      </div>
  </div>
</section>
