<!-- CONTEÚDO -->
<section class="w-full mx-auto py-10 bg-gray-50 dark:bg-gray-900 dark:text-white">
    <div class="w-fit pb-1 px-2 mx-4 rounded-md text-2xl font-semibold border-b-2 border-green-600 dark:border-b-2 dark:border-yellow-600">
      Cursos disponíveis 
    </div>

    <!--Curso 1 - AUTOMAQUIAGEM-->
    <div class="xl:w-[80%] sm:w-[85%] xs:w-[90%] mx-auto flex md:flex-row xs:flex-col lg:gap-4 xs:gap-2 justify-center lg:items-stretch md:items-center mt-4">
      <div class="lg:w-[50%] xs:w-full">
        <img class="lg:rounded-t-lg sm:rounded-sm xs:rounded-sm" src="assets/img/assist/cursos/automake.png" alt="billboard image" />
      </div>
      <div class="lg:w-[50%] sm:w-full xs:w-full bg-green-600 dark:bg-gray-900 dark:text-gray-400 md:p-4 xs:p-0 rounded-md flex flex-col items-center justify-center text-center mx-auto">
        <h2 class="text-3xl font-semibold text-white dark:text-white font-sans">
          Automaquiagem
        </h2>
        <p class="text-md mt-4 text-justify  p-4 font-sans text-white">
            O projeto AMO MAKE é ofertado para mulheres com deficiência visual. Com objetivo de que aprendam a praticarem técnicas de maquiagem, a mapear o rosto para identificar os traços pelo tato, a higienizar o rosto, ajudando-as a elevar a autoestima e na autonomia.
        </p>
      </div>
    </div>

    <!-- CURSO 2: INFORMÁTICA -->
    <div class="xl:w-[80%] sm:w-[85%] xs:w-[90%] mx-auto flex md:flex-row xs:flex-col lg:gap-4 xs:gap-2 justify-center lg:items-stretch md:items-center mt-6">
      <!--  -->
      <div class="md:hidden sm:block xs:block xs:w-full">
        <img class="lg:rounded-t-lg sm:rounded-sm xs:rounded-sm" src="assets/img/assist/cursos/informatica.jpg" alt="curso de informatica" />
      </div>
      <!--  -->
      <div class="lg:w-[50%] xs:w-full bg-green-600 dark:bg-gray-900 dark:text-gray-400 md:p-4 xs:p-0 rounded-md flex flex-col items-center justify-center text-center mx-auto">
        <h2 class="text-3xl text-white dark:text-white font-sans">
          Curso de Informática
        </h2>
        <p class="text-md mt-4 text-justify  text-white p-4 font-sans">
            São cursos de informática básica, com utilização de software de voz, é estruturado em módulos: DOSVOS, NVDA, DIGITAÇÃO. Contribuindo com a autonomia das pessoas que perderam a visão e oportunizando a tecnologia a serviço de garantir maior agilidade para lidar com a informação.
        </p>
      </div>
      <!--  -->
      <div class="md:block sm:hidden xs:hidden lg:w-[50%] xs:w-full">
        <img class="lg:rounded-t-lg xs:rounded-sm" src="assets/img/assist/cursos/informatica.jpg" alt="curso de informatica" />
      </div>
    </div>
    <!--fim do curso 2-->

    <!--CURSO 3: MASSOTERAPIA-->
    <div class="xl:w-[80%] sm:w-[85%] xs:w-[90%] mx-auto flex md:flex-row xs:flex-col lg:gap-4 xs:gap-2 justify-center lg:items-stretch md:items-center mt-4">
        <div class="lg:w-[50%] xs:w-full">
          <img class="lg:rounded-t-lg sm:rounded-sm xs:rounded-sm" src="assets/img/assist/cursos/massoterapia.jpg" alt="massotera´pia image" />
        </div>
        <div class="lg:w-[50%] sm:w-full xs:w-full bg-green-600 dark:bg-gray-900 dark:text-gray-400 md:p-4 xs:p-0 rounded-md flex flex-col items-center justify-center text-center mx-auto">
          <h2 class="text-3xl font-semibold text-white dark:text-white font-sans">
            Massoterapia
          </h2>
          <p class="text-md mt-4 text-justify  p-4 font-sans text-white">
            O objetivo do curso é ensinar as pessoas com deficiência visual a desenvolver a prática da massagem no corpo e dos pés, com aplicações de técnicas de relaxamento e técnicas para tratamento. Aguçando a sensibilidade dos outros sentidos e descobrindo outras potencialidades de vida.
          </p>
        </div>
      </div>

      <!-- CURSO 4: SMARTPHONE -->
      <div class="xl:w-[80%] sm:w-[85%] xs:w-[90%] mx-auto flex md:flex-row xs:flex-col lg:gap-4 xs:gap-2 justify-center lg:items-stretch md:items-center mt-6">
        <!--  -->
        <div class="md:hidden sm:block xs:block xs:w-full">
          <img class="lg:rounded-t-lg sm:rounded-sm xs:rounded-sm" src="assets/img/assist/cursos/smartphone.jpg" alt="billboard image" />
        </div>
        <!--  -->
        <div class="lg:w-[50%] xs:w-full bg-green-600 dark:bg-gray-900 dark:text-gray-400 md:p-4 xs:p-0 rounded-md flex flex-col items-center justify-center text-center mx-auto">
          <h2 class="text-3xl text-white dark:text-white font-sans">
            Uso de Smartphone
          </h2>
          <p class="text-md mt-4 text-justify  text-white p-4 font-sans">
            Ofertada para pessoas com deficiência visual que desejam reaprender a utilizar o smartphone com o auxílio dos recursos de acessibilidade e a usar vários App que podem auxiliar no dia a dia.
        </p>
        </div>
        <!--  -->
        <div class="md:block sm:hidden xs:hidden lg:w-[50%] xs:w-full">
          <img class="lg:rounded-t-lg xs:rounded-sm" src="assets/img/assist/cursos/smartphone.jpg" alt="billboard image" />
        </div>
      </div>
      <!--fim do curso 4-->

      <!--FIM dos Cursos / Início dos PROJETOS-->

      <div class="w-fit pt-6 pb-1 px-2 mx-4 rounded-md text-2xl font-semibold border-b-2 border-green-600 dark:border-b-2 dark:border-yellow-600">
        Projetos Culturais 
      </div>
  
      <!--PROJETO Nº [ 1 ]-->
      <div class="xl:w-[80%] sm:w-[85%] xs:w-[90%] mx-auto flex md:flex-row xs:flex-col lg:gap-4 xs:gap-2 justify-center lg:items-stretch md:items-center mt-4">
        <div class="lg:w-[50%] xs:w-full">
          <img class="lg:rounded-t-lg sm:rounded-sm xs:rounded-sm" src="assets/img/assist/cultura/teatro.jpg" alt="billboard image" />
        </div>
        <div class="lg:w-[50%] sm:w-full xs:w-full bg-green-600 dark:bg-gray-900 dark:text-gray-400 md:p-4 xs:p-0 rounded-md flex flex-col items-center justify-center text-center mx-auto">
          <h2 class="text-3xl font-semibold text-white dark:text-white font-sans">
            Teatro
          </h2>
          <p class="text-md mt-4 text-justify  p-4 font-sans text-white">
            As aulas de teatro acontecem em parceria com projetos culturais do Estado do Ceará, as oficinas propostas permitem que crianças, jovens e adultos com deficiência visual, desenvolvam a expressividade corporal, exerçam a criatividade, podendo assim, desenvolver habilidades que lhes permitam aprender a interagir com o meio social e com o mundo.
          </p>
        </div>
      </div>
  
      <!--PROJETO Nº [ 2 ]-->
      <div class="xl:w-[80%] sm:w-[85%] xs:w-[90%] mx-auto flex md:flex-row xs:flex-col lg:gap-4 xs:gap-2 justify-center lg:items-stretch md:items-center mt-6">
        <!--  -->
        <div class="md:hidden sm:block xs:block xs:w-full">
          <img class="lg:rounded-t-lg sm:rounded-sm xs:rounded-sm" src="assets/img/assist/cultura/sala-musica.jpg" alt="curso de informatica" />
        </div>
        <!--  -->
        <div class="lg:w-[50%] xs:w-full bg-green-600 dark:bg-gray-900 dark:text-gray-400 md:p-4 xs:p-0 rounded-md flex flex-col items-center justify-center text-center mx-auto">
          <h2 class="text-3xl text-white dark:text-white font-sans">
            Música
          </h2>
          <p class="text-md mt-4 text-justify  text-white p-4 font-sans">
            As aulas de musicalização para os alunos, trazem muitos benefícios, auxilia no aprendizado, ajuda a lidar com os próprios sentimentos, estimula a coordenação motora e a percepção sonora, promovendo a socialização e inclusão.
          </p>
        </div>
        <!--  -->
        <div class="md:block sm:hidden xs:hidden lg:w-[50%] xs:w-full">
          <img class="lg:rounded-t-lg xs:rounded-sm" src="assets/img/assist/cultura/sala-musica.jpg" alt="aprendendo musica" />
        </div>
      </div>
      <!--fim do PROJETO 2-->
  
      <!--PROJETO Nº [ 3 ]-->
      <div class="xl:w-[80%] sm:w-[85%] xs:w-[90%] mx-auto flex md:flex-row xs:flex-col lg:gap-4 xs:gap-2 justify-center lg:items-stretch md:items-center mt-4">
          <div class="lg:w-[50%] xs:w-full">
            <img class="lg:rounded-t-lg sm:rounded-sm xs:rounded-sm" src="assets/img/assist/cultura/danca.jpg" alt="massotera´pia image" />
          </div>
          <div class="lg:w-[50%] sm:w-full xs:w-full bg-green-600 dark:bg-gray-900 dark:text-gray-400 md:p-4 xs:p-0 rounded-md flex flex-col items-center justify-center text-center mx-auto">
            <h2 class="text-3xl font-semibold text-white dark:text-white font-sans">
              Dança
            </h2>
            <p class="text-md mt-4 text-justify  p-4 font-sans text-white">
                A proposta da dança para o deficiente visual, significa a intermediação entre o seu corpo, o corpo do outro e o ambiente, permitindo-lhe ganhos na qualidade de vida como o equilíbrio, a manutenção postural, na autonomia e principalmente na melhoria da autoestima.
            </p>
          </div>
        </div>
  
        <!--PROJETO Nº [ 4 ]-->
        <div class="xl:w-[80%] sm:w-[85%] xs:w-[90%] mx-auto flex md:flex-row xs:flex-col lg:gap-4 xs:gap-2 justify-center lg:items-stretch md:items-center mt-6">
          <!--  -->
          <div class="md:hidden sm:block xs:block xs:w-full">
            <img class="lg:rounded-t-lg sm:rounded-sm xs:rounded-sm" src="assets/img/assist/cultura/alasac.jpg" alt="billboard image" />
          </div>
          <!--  -->
          <div class="lg:w-[50%] xs:w-full bg-green-600 dark:bg-gray-900 dark:text-gray-400 md:p-4 xs:p-0 rounded-md flex flex-col items-center justify-center text-center mx-auto">
            <h2 class="text-3xl text-white dark:text-white font-sans">
              Academia de Letras e Artes
            </h2>
            <p class="text-md mt-4 text-justify  text-white p-4 font-sans">
                A Academia de Letras e Artes da Sociedade de Assistência aos Cegos - ALASAC, fundada em 17/09/2007, é a primeira em todo o mundo a ser constituída por 40 membros com deficiência visual e talentos literários e artísticos.
          </p>
          </div>
          <!--  -->
          <div class="md:block sm:hidden xs:hidden lg:w-[50%] xs:w-full">
            <img class="lg:rounded-t-lg xs:rounded-sm" src="assets/img/assist/cultura/alasac.jpg" alt="billboard image" />
          </div>
        </div>
        <!--fim do PROJETO 4-->

        <!--PROJETO Nº [ 5 ]-->
      <div class="xl:w-[80%] sm:w-[85%] xs:w-[90%] mx-auto flex md:flex-row xs:flex-col lg:gap-4 xs:gap-2 justify-center lg:items-stretch md:items-center mt-4">
        <div class="lg:w-[50%] xs:w-full">
            <iframe 
            class="w-full h-full" 
            src="https://www.youtube.com/embed/7GTHzuLq4Vk?rel=0" 
            title="Vídeo Projeto Instituto de Cegos do Ceará"
            allowfullscreen>
          </iframe>
        </div>
        <div class="lg:w-[50%] sm:w-full xs:w-full bg-green-600 dark:bg-gray-900 dark:text-gray-400 md:p-4 xs:p-0 rounded-md flex flex-col items-center justify-center text-center mx-auto">
          <h2 class="text-3xl font-semibold text-white dark:text-white font-sans">
            Programa Ponto Cego
          </h2>
          <p class="text-md mt-4 text-justify  p-4 font-sans text-white">
            O Programa PONTO CEGO, estreou em 01/05/2022 é veiculado pelo canal da TV ASSEMBLEIA do Ceará. Tem como objetivo principal trazer à luz das discussões os temas relativos à inclusão e acessibilidade de cegos. <br>
            O Programa aborda temas de inclusão social e políticas para pessoas com deficiência. O programa é produzido pela Alece TV e conta com a parceria da Sociedade de Assistência aos Cegos. <br>
            Ele tem tem como objetivo aproximar o Parlamento da sociedade cearense e promover o diálogo com a população.
          </p>
        </div>
      </div>
  
</section>
<!-- FIM DO CONTEÚDO -->