<app-header-social></app-header-social>
<app-heading-esporte></app-heading-esporte>

<!-- Seção 1 - Cards com conteúdo -->
<section class="w-full mx-auto py-10 bg-gray-50 dark:bg-gray-900 dark:text-white">
    <div class="w-fit pb-1 px-2 mx-4 rounded-md text-2xl font-semibold border-b-2 border-green-600 dark:border-yellow-600">
      Esporte
    </div>
  
    <!-- Card 1 -->
    <div class="xl:w-[80%] sm:w-[85%] xs:w-[90%] mx-auto flex md:flex-row xs:flex-col lg:gap-4 xs:gap-2 justify-center items-stretch mt-4">
      <!-- Imagem -->
      <div class="lg:w-[50%] xs:w-full">
        <img
          class="w-full h-full object-cover lg:rounded-t-lg sm:rounded-sm xs:rounded-sm"
          src="assets/img/school/esporte1.jpg"
          alt="billboard image"
        />
      </div>
      <!-- Conteúdo -->
      <div class="lg:w-[50%] xs:w-full bg-green-600 dark:bg-gray-900 dark:text-gray-400 md:p-4 xs:p-0 rounded-md flex flex-col items-center justify-center text-center mx-auto">
        <h2 class="text-3xl font-semibold text-white dark:text-white font-sans">
          Nosso Esporte
        </h2>
        <p class="text-md mt-4 text-justify p-4 font-sans text-white">
            Projetos em parceria com a Enel Ceará e ADESUL. São ofertados Xadrez, Judô e Goalball para alunos com deficiência visual, respeitando as diferenças dos indivíduos e realizando algumas adaptações. Com treinos semanais e participações em jogos e campeonatos, ajudando a saúde física e mental melhorando assim a qualidade de vida.
        </p>
      </div>
    </div>
  
    <!-- Card 2 -->
    <div class="xl:w-[80%] sm:w-[85%] xs:w-[90%] mx-auto flex md:flex-row xs:flex-col lg:gap-4 xs:gap-2 justify-center items-stretch mt-6">
      <!-- Imagem no topo para dispositivos menores -->
      <div class="md:hidden sm:block xs:block xs:w-full">
        <img
          class="w-full h-full object-cover lg:rounded-t-lg sm:rounded-sm xs:rounded-sm"
          src="assets/img/school/esporte2.jpg"
          alt="billboard image"
        />
      </div>
      <!-- Conteúdo -->
      <div class="lg:w-[50%] xs:w-full bg-green-600 dark:bg-gray-900 dark:text-gray-400 md:p-6 xs:p-4 rounded-md flex flex-col items-center justify-center text-center mx-auto">
        <h2 class="text-3xl text-center font-semibold text-white dark:text-white font-sans">
          Importância
        </h2>
        <p class="text-md mt-4 text-justify p-4 font-sans text-white">
            A prática de esportes por pessoas cegas não apenas promove saúde e bem-estar, mas também fortalece a inclusão, a confiança e o trabalho em equipe. Para crianças, é uma oportunidade de desenvolver habilidades motoras, superar desafios e descobrir seu potencial, mostrando que as limitações não precisam ser barreiras para o crescimento e a diversão.
        </p>
      </div>
      <!-- Imagem no lado direito para dispositivos maiores -->
      <div class="md:block sm:hidden xs:hidden lg:w-[50%] xs:w-full">
        <img
          class="w-full h-full object-cover lg:rounded-t-lg xs:rounded-sm"
          src="assets/img/school/esporte2.jpg"
          alt="billboard image"
        />
      </div>
    </div>
</section>
<!-- FIM da Seção 1-->

<!-- Seção 2 - GALERIA -->

<!-- FIM da Seção 2-->

<app-footer-social></app-footer-social>