<section class="text-gray-600 body-font">
    <div class="container px-5 py-12 mx-auto">

        <div class="flex flex-col text-center w-full mb-20">
            <h1 class="sm:text-3xl text-2xl font-medium title-font mb-4 text-gray-900">
                Confira nosso Blog
            </h1>
            <p class=" leading-relaxed text-base">
                Confira as principais notícias e artigos sobre saúde ocular e nosso instituição.
            </p>
          </div>

      <div class="flex flex-wrap -mx-4 -my-8">
        <div class="py-8 px-4 lg:w-1/3">
          <div class="h-full flex items-start">
            <div class="w-12 flex-shrink-0 flex flex-col text-center leading-none">
              <span class="text-gray-500 pb-2 mb-2 border-b-2 border-gray-200">Mai</span>
              <span class="font-medium text-lg text-gray-800 title-font leading-none">22</span>
            </div>
            <div class="flex-grow pl-6">
              <h2 class="tracking-widest text-xs title-font font-medium text-green-500 mb-1">SAÚDE</h2>
              <h1 class="title-font text-xl font-medium text-gray-900 mb-3">Abandonando o Óculos</h1>
              <p class="leading-relaxed mb-5">A cirurgia para XXXX pode fazer com que .... o grau .... é importante ressaltar...</p>
              <a class="inline-flex items-center">
                <img alt="blog" src="https://dummyimage.com/103x103" class="w-8 h-8 rounded-full flex-shrink-0 object-cover object-center">
                <span class="flex-grow flex flex-col pl-3">
                  <span class="title-font font-medium text-gray-900">Alexandre Holanda</span>
                </span>
              </a>
            </div>
          </div>
        </div>
        <div class="py-8 px-4 lg:w-1/3">
          <div class="h-full flex items-start">
            <div class="w-12 flex-shrink-0 flex flex-col text-center leading-none">
              <span class="text-gray-500 pb-2 mb-2 border-b-2 border-gray-200">Jul</span>
              <span class="font-medium text-lg text-gray-800 title-font leading-none">18</span>
            </div>
            <div class="flex-grow pl-6">
              <h2 class="tracking-widest text-xs title-font font-medium text-green-500 mb-1">SAÚDE</h2>
              <h1 class="title-font text-xl font-medium text-gray-900 mb-3">Tratamento de Retina</h1>
              <p class="leading-relaxed mb-5">Novo tratamento de retina descoberto em X no dia tal é promissor....</p>
              <a class="inline-flex items-center">
                <img alt="blog" src="https://dummyimage.com/102x102" class="w-8 h-8 rounded-full flex-shrink-0 object-cover object-center">
                <span class="flex-grow flex flex-col pl-3">
                  <span class="title-font font-medium text-gray-900">Adriano Almeida</span>
                </span>
              </a>
            </div>
          </div>
        </div>
        <div class="py-8 px-4 lg:w-1/3">
          <div class="h-full flex items-start">
            <div class="w-12 flex-shrink-0 flex flex-col text-center leading-none">
              <span class="text-gray-500 pb-2 mb-2 border-b-2 border-gray-200">Ago</span>
              <span class="font-medium text-lg text-gray-800 title-font leading-none">07</span>
            </div>
            <div class="flex-grow pl-6">
              <h2 class="tracking-widest text-xs title-font font-medium text-green-500 mb-1">ESCOLA</h2>
              <h1 class="title-font text-xl font-medium text-gray-900 mb-3">Nova turma formada</h1>
              <p class="leading-relaxed mb-5">Nossa nova turma do Xº ano acaba de conseguir seu...</p>
              <a class="inline-flex items-center">
                <img alt="blog" src="https://dummyimage.com/101x101" class="w-8 h-8 rounded-full flex-shrink-0 object-cover object-center">
                <span class="flex-grow flex flex-col pl-3">
                  <span class="title-font font-medium text-gray-900">Ruthlene de Tal</span>
                </span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>