<!-- https://gist.github.com/goodreds/3579ddfffe439457b5ef9902b5336124 -->
<section class="flex flex-col justify-center max-w-6xl min-h-screen px-4 py-10 mx-auto sm:px-6">
    <div class="flex flex-wrap items-center justify-between mb-8">
        <h2 class="mr-10 text-4xl font-bold leading-none md:text-5xl font-sans">
            Confira todos nossos <span class="border-b-2 border-green-600">serviços</span> e <span class="border-b-2 border-green-600">projetos</span>
        </h2>
        <!-- <a 
            class="block pb-1 mt-2 text-base font-black text-green-600 uppercase border-b border-transparent hover:border-green-600">
            Go to insights ->
        </a> -->
    </div>

    <div class="flex flex-wrap -mx-4">
        <div class="w-full max-w-full mb-8 sm:w-1/2 px-4 lg:w-1/3 flex flex-col">
            <img src="assets/img/assist/mobilidade.jpg" alt="Integração" class="object-cover object-center w-full h-48" />
            <div class="flex flex-grow">
                <div class="triangle"></div>
                <div class="flex flex-col justify-between px-4 py-6 bg-white border border-gray-400 text">
                    <div>
                        <a 
                            class="inline-block mb-4 text-xs font-bold capitalize border-b-2 border-green-600 hover:text-green-600 cursor-pointer"
                            (click)="navegar('reabilitacao')">
                            Reabilitação
                            </a>
                        <a 
                            class="block mb-4 text-2xl font-black leading-tight hover:underline hover:text-green-600 cursor-pointer"
                            (click)="navegar('reabilitacao')">
                            Todos os nossos serviços
                        </a>
                        <p class="mb-4">
                            Sala de Integração, Arte Terapia, Psicologia, Fonoaudiologia, Orientação e Mobilidade e muito mais.
                        </p>
                    </div>
                    <div>
                        <a 
                            class="inline-block pb-1 mt-2 text-base font-black text-green-600 uppercase border-b border-transparent hover:border-green-600 cursor-pointer"
                            (click)="navegar('reabilitacao')">
                            Mais informações ->
                            </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="w-full max-w-full mb-8 sm:w-1/2 px-4 lg:w-1/3 flex flex-col">
            <img
            src="assets/img/assist/Integração.jpg"
            alt="Card img"
            class="object-cover object-center w-full h-48"
          />
            <div class="flex flex-grow">
                <div class="triangle"></div>
                <div class="flex flex-col justify-between px-4 py-6 bg-white border border-gray-400">
                    <div>
                        <a 
                            class="inline-block mb-4 text-xs font-bold capitalize border-b-2 border-green-600 hover:text-green-600 cursor-pointer"
                            (click)="navegar('fortalecendo')">
                            Fortalecendo vínculos
                        </a>
                        <a 
                            class="block mb-4 text-2xl font-black leading-tight hover:underline hover:text-green-600 cursor-pointer"
                            (click)="navegar('fortalecendo')">
                            Atividades com a família dos alunos e reabilitandos
                        </a>
                        <p class="mb-4">
                            Encontros com a família no Projeto Abraço e Projeto Família Vivenciando.
                        </p>
                    </div>
                    <div>
                        <a 
                            class="inline-block pb-1 mt-2 text-base font-black text-green-600 uppercase border-b border-transparent hover:border-green-600 cursor-pointer"
                            (click)="navegar('fortalecendo')">
                             Mais informações ->
                            </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="w-full max-w-full mb-8 sm:w-1/2 px-4 lg:w-1/3 flex flex-col">
            <img
            src="assets/img/assist/leitura.jpg"
            alt="Card img"
            class="object-cover object-center w-full h-48"
          />
            <div class="flex flex-grow">
                <div class="triangle"></div>
                <div class="flex flex-col justify-between px-4 py-6 bg-white border border-gray-400">
                    <div>
                        <a 
                            class="inline-block mb-4 text-xs font-bold capitalize border-b-2 border-green-600 hover:text-green-600 cursor-pointer"
                            (click)="navegar('projetos-e-cursos')">
                        Projetos e Cursos
                        </a>
                        <a 
                            class="block mb-4 text-2xl font-black leading-tight hover:underline hover:text-green-600 cursor-pointer"
                            (click)="navegar('projetos-e-cursos')">
                        Todos os projetos e cursos para internos
                        </a>
                        <p class="mb-4">
                            Massoterapia, Automaquiagem, Informática, Teatro, Música, Dança e muito mais!
                        </p>
                    </div>
                    <div>
                        <a 
                            class="inline-block pb-1 mt-2 text-base font-black text-green-600 uppercase border-b border-transparent hover:border-green-600 cursor-pointer"
                            (click)="navegar('projetos-e-cursos')">
                            Mais informações
                             -></a>
                    </div>
                </div>
            </div>
        </div>

        

    </div>
</section>