<nav class="relative flex items-center justify-between sm:h-10 md:justify-center py-6 px-4 mt-2 m-2 font-sans">
  <div class="flex items-center flex-1 md:absolute md:inset-y-0 md:left-0">
    <div class="flex items-center justify-between w-full md:w-auto">
      <a href="" aria-label="Home">
        <!-- Logo com tamanho maior -->
        <img src="assets/logos/sac-logo.png" class="w-12 h-12 object-contain" alt="Logo" />
      </a>
      <div class="-mr-2 flex items-center md:hidden">
        <!-- Texto "Instituto de Cegos" que aparece no modo responsivo -->
        <span class="ml-4 text-lg font-bold text-gray-700 block md:hidden text-center mr-8">
          Instituto Hélio Góes
        </span>
        <!-- Botão de Hambúrguer Animado -->
        <button
          type="button"
          (click)="isMenuOpen = !isMenuOpen"
          aria-label="Main menu"
          aria-haspopup="true"
          class="relative w-14 h-14 focus:outline-none rounded bg-teal-600"
        >
          <div class="block w-5 absolute left-6 top-1/2 transform -translate-x-1/2 -translate-y-1/2">
            <!-- Linha superior -->
            <span
              class="block absolute h-0.5 w-7 bg-white transform transition duration-500 ease-in-out"
              [ngClass]="{'rotate-45': isMenuOpen, '-translate-y-1.5': !isMenuOpen}"
            ></span>
            <!-- Linha do meio -->
            <span
              class="block absolute h-0.5 w-5 bg-white transform transition duration-500 ease-in-out"
              [ngClass]="{'opacity-0': isMenuOpen}"
            ></span>
            <!-- Linha inferior -->
            <span
              class="block absolute h-0.5 w-7 bg-white transform transition duration-500 ease-in-out"
              [ngClass]="{'-rotate-45': isMenuOpen, 'translate-y-1.5': !isMenuOpen}"
            ></span>
          </div>
        </button>
      </div>
    </div>
  </div>
  <!-- Menu principal em telas maiores -->
  <div class="hidden md:flex md:space-x-14">
    <a
      class="font-medium text-gray-500 hover:text-green-600 transition duration-150 ease-in-out cursor-pointer"
      (click)="navegar('consultas')"
    >
      Projetos
    </a>
    <a
      class="font-medium text-gray-500 hover:text-green-600 transition duration-150 ease-in-out cursor-pointer"
      (click)="navegar('consultas')"
    >
      Assistência Social
    </a>
    <a
      class="font-medium text-gray-500 hover:text-green-600 transition duration-150 ease-in-out cursor-pointer"
      (click)="navegar('exames')"
    >
      Escola
    </a>
    <a
      (click)="navegar('cirurgias')"
      class="font-medium text-gray-500 hover:text-green-600 transition duration-150 ease-in-out cursor-pointer "
    >
      Institucional
    </a>
    <a
      (click)="navegar('faq')"
      target="_blank"
      class="font-medium text-gray-500 hover:text-green-600 transition duration-150 ease-in-out cursor-pointer "
    >
      Documentação
    </a>
  </div>
  <div class="hidden md:absolute md:flex md:items-center md:justify-end md:inset-y-0 md:right-0">
    <span class="inline-flex">
      <a
        href="/login"
        class="inline-flex items-center px-4 py-2 border border-transparent text-base leading-6 font-medium text-blue-600 hover:text-green-500 focus:outline-none transition duration-150 ease-in-out"
      >
        Faça uma doação
      </a>
    </span>
    <!-- <span class="inline-flex rounded-md shadow ml-2">
      <a
        href="/signup"
        class="inline-flex items-center px-4 py-2 border border-green-600 text-base leading-6 font-medium rounded-md text-green-600 bg-white hover:bg-green-600 hover:text-white focus:outline-none focus:border-blue-700 transition duration-150 ease-in-out"
      >
        Marque uma consulta
      </a>
    </span> -->
  </div>
</nav>

<!-- Menu dropdown para dispositivos móveis -->
<div *ngIf="isMenuOpen" class="md:hidden bg-white shadow-lg rounded-lg mt-2 px-4 py-6 space-y-4 text-center">
  <a
    (click)="navegar('consultas')"
    class="block font-medium text-gray-700 hover:text-green-600 transition duration-150 ease-in-out"
  >
    Consultas
  </a>
  <a
    (click)="navegar('exames')"
    class="block font-medium text-gray-700 hover:text-green-600 transition duration-150 ease-in-out"
  >
    Exames
  </a>
  <a
    (click)="navegar('cirurgias')"
    class="block font-medium text-gray-700 hover:text-green-600 transition duration-150 ease-in-out"
  >
    Cirurgias
  </a>
  <a
    (click)="navegar('faq')"
    target="_blank"
    class="block font-medium text-gray-700 hover:text-green-600 transition duration-150 ease-in-out"
  >
    Dúvidas
  </a>
  <a
    href="/login"
    class="block font-medium text-blue-600 hover:text-blue-500 transition duration-150 ease-in-out"
  >
    Faça uma doação
  </a>
  <a
    href="/signup"
    class="block font-medium text-white bg-green-600 hover:bg-blue-500 rounded-md px-4 py-2 transition duration-150 ease-in-out"
  >
    Fale conosco
  </a>
</div>
