<section class="w-full grid gap-7 bg-primary-200 dark:bg-primary-500">
    <div class="relative w-full h-full bg-cover bg-center flex items-center justify-center bg-cover bg-center p-8 dui-bg-fixed"
        style="background-image: url('/assets/img/clinic/cta-marque.jpg');">
        <div
            class="p-6 bg-gray-900 bg-opacity-70 text-white/75 rounded-xl shadow-lg text-center w-full max-w-full mx-2">
            <h1 class="text-4xl font-bold mb-4">Marque uma consulta hoje</h1>
            <p class="text-lg mb-8">
              Seus olhos merecem cuidado.
            </p>
            <div class="gap-1 flex flex-wrap justify-center">
              <button
                class="px-4 py-2 bg-green-600 hover:bg-green-700 transition-all duration-500 rounded-xl"
              >
                <span class="text-white text-base font-medium">Falar no WhatsApp</span>
              </button>
            </div>
        </div>
    </div>
</section>