<app-header-social></app-header-social>
<app-heading-imprensa></app-heading-imprensa>

<!-- Seção 1 - Cards com conteúdo -->
<section
  class="w-full mx-auto py-10 bg-gray-50 dark:bg-gray-900 dark:text-white"
>
  <div
    class="w-fit pb-1 px-2 mx-4 rounded-md text-2xl font-semibold border-b-2 border-green-600 dark:border-yellow-600"
  >
    Imprensa Braille
  </div>

  <!-- Card 1 -->
  <div
    @fadeSlideLeft
    class="xl:w-[80%] sm:w-[85%] xs:w-[90%] mx-auto flex md:flex-row xs:flex-col lg:gap-4 xs:gap-2 justify-center items-stretch mt-4"
  >
    <div class="lg:w-[50%] xs:w-full">
      <img
        class="w-full h-full object-cover lg:rounded-t-lg sm:rounded-sm xs:rounded-sm"
        src="assets/img/school/imprensa1.jpg"
        alt="billboard image"
      />
    </div>
    <div
      class="lg:w-[50%] xs:w-full bg-green-600 dark:bg-gray-900 dark:text-gray-400 md:p-4 xs:p-0 rounded-md flex flex-col items-center justify-center text-center mx-auto"
    >
      <h2 class="text-3xl font-semibold text-white dark:text-white font-sans">
        Como funciona
      </h2>
      <p class="text-md mt-4 text-justify p-4 font-sans text-white">
        Uma impressora Braille é um equipamento utilizado para produzir textos
        em Braille, um sistema de escrita tátil para pessoas com deficiência
        visual.
      </p>
    </div>
  </div>

  <!-- Card 2 -->
  <div
    @fadeSlideRight
    class="xl:w-[80%] sm:w-[85%] xs:w-[90%] mx-auto flex md:flex-row xs:flex-col lg:gap-4 xs:gap-2 justify-center items-stretch mt-6"
  >
    <div class="md:hidden sm:block xs:block xs:w-full">
      <img
        class="w-full h-full object-cover lg:rounded-t-lg sm:rounded-sm xs:rounded-sm"
        src="assets/img/school/imprensa2.jpg"
        alt="billboard image"
      />
    </div>
    <div
      class="lg:w-[50%] xs:w-full bg-green-600 dark:bg-gray-900 dark:text-gray-400 md:p-6 xs:p-4 rounded-md flex flex-col items-center justify-center text-center mx-auto"
    >
      <h2
        class="text-3xl text-center font-semibold text-white dark:text-white font-sans"
      >
        Nossa Imprensa
      </h2>
      <p class="text-md mt-4 text-justify p-4 font-sans text-white">
        A imprensa Braille do Instituto de Cegos do Ceará desempenha um papel essencial na inclusão educacional.
      </p>
    </div>
    <div class="md:block sm:hidden xs:hidden lg:w-[50%] xs:w-full">
      <img
        class="w-full h-full object-cover lg:rounded-t-lg xs:rounded-sm"
        src="assets/img/school/imprensa2.jpg"
        alt="billboard image"
      />
    </div>
  </div>
</section>

<app-footer-social></app-footer-social>
