<!--SEÇÃO DO TÍTULO -->
<div class="flex flex-col items-center pt-16">
    <h1 class="sm:text-3xl text-2xl font-medium title-font text-gray-900 text-center">Instituto de Cegos</h1>
    <p class="lg:w-2/3 mx-auto leading-relaxed text-base text-center">Selecione uma das opções abaixo</p>
  </div>
  
<!--SEÇÃO DAS DUAS IMAGES -->
<section class="text-gray-600 body-font">
    <div class="container px-5 py-12 mx-auto">
      <div class="flex flex-wrap -mx-4 -mb-10 text-center">
        <div class="sm:w-1/2 mb-10 px-4">
          <div class="rounded-lg h-64 overflow-hidden">
            <img alt="content" class="object-cover object-center h-full w-full" src="/assets/img/clinic/doctor-team.jpg">
          </div>
          <h2 class="title-font text-2xl font-medium text-gray-900">Clínica / Hospital</h2>
          <p class="leading-relaxed text-base">
            Confira nossos serviços de saúde associados à Clínica e ao Hospital
          </p>
          <button class="flex mx-auto text-white bg-green-500 border-0 py-2 px-5 focus:outline-none hover:bg-green-600 rounded"
          [routerLink]="['/clinica']"
          >Área da Saúde</button>
        </div>
        <div class="sm:w-1/2 mb-10 px-4">
          <div class="rounded-lg h-64 overflow-hidden">
            <img alt="content" class="object-cover object-center h-full w-full" src="/assets/img/school/school1.png">
          </div>
          <h2 class="title-font text-2xl font-medium text-gray-900">Escola / Social</h2>
          <p class="leading-relaxed text-base">
            Confira nossos trabalhos sociais, projetos, escola e muito mais
          </p>
          <button class="flex mx-auto text-white bg-green-500 border-0 py-2 px-5 focus:outline-none hover:bg-green-600 rounded">Área Social</button>
        </div>
      </div>
    </div>
  </section>