<section class="relative h-screen flex flex-col items-center justify-center text-center text-white ">
    <div class="video-docker absolute top-0 left-0 w-full h-full overflow-hidden">
        <video class="min-w-full min-h-full absolute object-cover"
            src="/assets/videos/SAC-Hero-School.mp4"
            type="video/mp4" autoplay muted loop></video>
    </div>

        <!-- Seção com o conteúdo sobreposto + logo -->

    <div class="container mx-auto flex px-5 py-12 text-logo-section">
      <div class="flex flex-col md:flex-row items-center gap-6">
        <!-- Logo -->
        <div class="logo-container flex-shrink-0">
          <img 
            src="assets/logos/sac-logo.png" 
            alt="Logo do Instituto de Cegos do Ceará" 
            class="w-24 h-24 sm:w-32 sm:h-32 object-contain relative"
            style="top: -40px;"
          />
        </div>
  
        <!-- Texto -->
        <div class="lg:flex-grow flex flex-col text-center md:text-left">
          <h1 class="title-font text-5xl sm:text-6xl lg:text-7xl mb-4 font-bold text-white z-20">
            <span class="text-3xl sm:text-4xl lg:text-5xl font-medium">SAC Assistência Social</span>
          </h1>
          <p class="mb-8 leading-relaxed text-accent-50 z-20 max-w-full sm:max-w-md md:max-w-lg lg:max-w-xl">
            Serviços sociais e de reabilitação
          </p>
          <div class="flex flex-col sm:flex-row justify-center gap-4 z-20">
            <button class="text-black bg-white py-2 px-4 sm:px-6 focus:outline-none hover:scale-105 hover:text-white hover:bg-green-600 duration-300 rounded text-sm sm:text-lg whitespace-nowrap font-sans">
              Fale conosco
            </button>
          </div>
        </div>
      </div>
    </div>
 
</section>

<style>
    .video-docker video {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .video-docker::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: rgba(0, 0, 0, 0.6);
        z-index: 1;
    }
</style>