<section class="text-accent-50 bg-primary-300 body-font">
  <div class="container px-5 py-12 mx-auto flex flex-col items-center justify-center">
      <div class="flex flex-col text-center w-full mb-10">
          <h1 class="sm:text-3xl text-2xl font-medium title-font mb-4 text-white">Exames precisos para um diagnóstico certeiro</h1>
          <p class="leading-relaxed text-base text-white">
              A prevenção é o melhor remédio! Realize exames oftalmológicos regulares para detectar qualquer alteração na sua visão. Confira na lista nossos exames disponíveis:
          </p>
      </div>
      <div class="flex flex-wrap -m-4">
          <div class="lg:w-1/3 sm:w-1/2 p-4">
              <div class="flex relative h-full cursor-pointer" (click)="navegar('/')">
                  <img alt="gallery" class="absolute inset-0 w-full h-full object-cover object-center" src="/assets/img/clinic/card-gallery2.jpg">
                  <div class="px-8 py-10 relative z-10 w-full border-4 border-gray-800 bg-gray-900 opacity-80 hover:opacity-90 hover:bg-primary-900 flex flex-col justify-between">
                      <div>
                          <h2 class="tracking-widest text-sm title-font font-medium text-indigo-400 mb-1">Exame</h2>
                          <h1 class="title-font text-lg font-medium text-white mb-3">
                            Acuidade Visual (PAM)
                          </h1>
                      </div>
                  </div>
              </div>
          </div>

          <div class="lg:w-1/3 sm:w-1/2 p-4">
            <div class="flex relative h-full cursor-pointer" (click)="navegar('/')">
                <img alt="gallery" class="absolute inset-0 w-full h-full object-cover object-center" src="/assets/img/clinic/card-gallery2.jpg">
                <div class="px-8 py-10 relative z-10 w-full border-4 border-gray-800 bg-gray-900 opacity-80 hover:opacity-90 hover:bg-primary-900 flex flex-col justify-between">
                    <div>
                        <h2 class="tracking-widest text-sm title-font font-medium text-indigo-400 mb-1">Exame</h2>
                        <h1 class="title-font text-lg font-medium text-white mb-3">
                          Angiografia com Fluorescência
                        </h1>
                    </div>
                </div>
            </div>
        </div>

        <div class="lg:w-1/3 sm:w-1/2 p-4">
          <div class="flex relative h-full cursor-pointer" (click)="navegar('/')">
              <img alt="gallery" class="absolute inset-0 w-full h-full object-cover object-center" src="/assets/img/clinic/card-gallery2.jpg">
              <div class="px-8 py-10 relative z-10 w-full border-4 border-gray-800 bg-gray-900 opacity-80 hover:opacity-90 hover:bg-primary-900 flex flex-col justify-between">
                  <div>
                      <h2 class="tracking-widest text-sm title-font font-medium text-indigo-400 mb-1">Exame</h2>
                      <h1 class="title-font text-lg font-medium text-white mb-3">
                      Biometria IOL Master
                      </h1>
                  </div>
              </div>
          </div>
      </div>

      <div class="lg:w-1/3 sm:w-1/2 p-4">
        <div class="flex relative h-full cursor-pointer" (click)="navegar('/')">
            <img alt="gallery" class="absolute inset-0 w-full h-full object-cover object-center" src="/assets/img/clinic/card-gallery2.jpg">
            <div class="px-8 py-10 relative z-10 w-full border-4 border-gray-800 bg-gray-900 opacity-80 hover:opacity-90 hover:bg-primary-900 flex flex-col justify-between">
                <div>
                    <h2 class="tracking-widest text-sm title-font font-medium text-indigo-400 mb-1">Exame</h2>
                    <h1 class="title-font text-lg font-medium text-white mb-3">
                      Biomicroscopia de Fundo
                    </h1>
                </div>
            </div>
        </div>
    </div>

    <div class="lg:w-1/3 sm:w-1/2 p-4">
      <div class="flex relative h-full cursor-pointer" (click)="navegar('/')">
          <img alt="gallery" class="absolute inset-0 w-full h-full object-cover object-center" src="/assets/img/clinic/card-gallery2.jpg">
          <div class="px-8 py-10 relative z-10 w-full border-4 border-gray-800 bg-gray-900 opacity-80 hover:opacity-90 hover:bg-primary-900 flex flex-col justify-between">
              <div>
                  <h2 class="tracking-widest text-sm title-font font-medium text-indigo-400 mb-1">Exame</h2>
                  <h1 class="title-font text-lg font-medium text-white mb-3">
                    Campimetria Computadorizada
                  </h1>
              </div>
          </div>
      </div>
    </div>    
          
      </div>
  </div>
</section>
