<section class="text-accent-50 bg-primary-300 body-font">
    <div class="container px-5 py-12 mx-auto">
      <div class="flex flex-col text-center w-full mb-10">
        <h1 class="sm:text-3xl text-2xl font-medium title-font mb-4 text-white">Exames precisos para um diagnóstico certeiro</h1>
        <p class="leading-relaxed text-base text-white">
          A prevenção é o melhor remédio! Realize exames oftalmológicos regulares para detectar qualquer alteração na sua visão. Confira na lista nossos exames disponíveis:
        </p>
      </div>
  
      <!-- Use grid layout para alinhar os cards de forma consistente -->
      <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6">
        <div class="relative cursor-pointer h-full" (click)="navegar('acuidade-visual')">
          <img alt="gallery" class="absolute inset-0 w-full h-full object-cover object-center" src="/assets/img/clinic/card-gallery2.jpg">
          <div class="relative z-10 p-8 border-4 border-gray-800 bg-gray-900 opacity-80 hover:opacity-90 hover:bg-primary-900 flex flex-col justify-between min-h-[220px]">
            <div>
              <h2 class="tracking-widest text-xs title-font font-medium text-indigo-400 mb-1">Exame</h2>
              <h1 class="title-font text-base font-medium text-white mb-3">Acuidade Visual (PAM)</h1>
            </div>
          </div>
        </div>
  
        <div class="relative cursor-pointer h-full" (click)="navegar('/')">
          <img alt="gallery" class="absolute inset-0 w-full h-full object-cover object-center" src="/assets/img/clinic/card-gallery2.jpg">
          <div class="relative z-10 p-8 border-4 border-gray-800 bg-gray-900 opacity-80 hover:opacity-90 hover:bg-primary-900 flex flex-col justify-between min-h-[220px]">
            <div>
              <h2 class="tracking-widest text-xs title-font font-medium text-indigo-400 mb-1">Exame</h2>
              <h1 class="title-font text-base font-medium text-white mb-3">Angiografia com Fluorescência</h1>
            </div>
          </div>
        </div>
  
        <div class="relative cursor-pointer h-full" (click)="navegar('/')">
          <img alt="gallery" class="absolute inset-0 w-full h-full object-cover object-center" src="/assets/img/clinic/card-gallery2.jpg">
          <div class="relative z-10 p-8 border-4 border-gray-800 bg-gray-900 opacity-80 hover:opacity-90 hover:bg-primary-900 flex flex-col justify-between min-h-[220px]">
            <div>
              <h2 class="tracking-widest text-xs title-font font-medium text-indigo-400 mb-1">Exame</h2>
              <h1 class="title-font text-base font-medium text-white mb-3">Biometria IOL Master</h1>
            </div>
          </div>
        </div>
  
        <div class="relative cursor-pointer h-full" (click)="navegar('/')">
          <img alt="gallery" class="absolute inset-0 w-full h-full object-cover object-center" src="/assets/img/clinic/card-gallery2.jpg">
          <div class="relative z-10 p-8 border-4 border-gray-800 bg-gray-900 opacity-80 hover:opacity-90 hover:bg-primary-900 flex flex-col justify-between min-h-[220px]">
            <div>
              <h2 class="tracking-widest text-xs title-font font-medium text-indigo-400 mb-1">Exame</h2>
              <h1 class="title-font text-base font-medium text-white mb-3">Biomicroscopia de Fundo</h1>
            </div>
          </div>
        </div>
  
        <div class="relative cursor-pointer h-full" (click)="navegar('/')">
          <img alt="gallery" class="absolute inset-0 w-full h-full object-cover object-center" src="/assets/img/clinic/card-gallery2.jpg">
          <div class="relative z-10 p-8 border-4 border-gray-800 bg-gray-900 opacity-80 hover:opacity-90 hover:bg-primary-900 flex flex-col justify-between min-h-[220px]">
            <div>
              <h2 class="tracking-widest text-xs title-font font-medium text-indigo-400 mb-1">Exame</h2>
              <h1 class="title-font text-base font-medium text-white mb-3">Campimetria Computadorizada</h1>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  