<div class="relative">
    <!--Primeiro SLIDE -->
    <div class="sticky top-0 h-screen flex flex-col items-center justify-center bg-gradient-to-b from-green-200 to-blue-200">
        <h2 class="text-4xl font-bold">Alguns de nossos destaques</h2>
        <p class="mt-2">Novidades para estimular nossos alunos</p>
        <div class="lg:ml-6 lg:col-start-2 lg:max-w-2xl">
            <p class="text-base font-semibold leading-6 text-indigo-500 uppercase">
                SALA MAKER
            </p>
            <h4 class="mt-2 text-2xl font-extrabold leading-8 text-gray-900 sm:text-3xl sm:leading-9">
                Um espaço especialmente projetado para atender às necessidades específicas de alunos com deficiência visual.
            </h4>
        
            <ul class="mt-8 space-y-3 font-medium">
                <li class="flex items-start lg:col-span-1"> <!-- um p-2 aqui resolve a responsividade-->
                    <div class="flex-shrink-0">
                        <svg class="w-5 h-5 text-indigo-600" fill="currentColor" viewBox="0 0 20 20">
                            <path fill-rule="evenodd"
                                d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
                                clip-rule="evenodd"></path>
                        </svg>
                    </div>
                    <p class="ml-3 leading-5 text-gray-600">
                        O espaço oferece oportunidades para os alunos realizarem diversas atividades criativas e projetos.
                    </p>
                </li>
                <li class="flex items-start lg:col-span-1">
                    <div class="flex-shrink-0">
                        <svg class="w-5 h-5 text-indigo-600" fill="currentColor" viewBox="0 0 20 20">
                            <path fill-rule="evenodd"
                                d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
                                clip-rule="evenodd"></path>
                        </svg>
                    </div>
                    <p class="ml-3 leading-5 text-gray-600">
                        Através da construção de projetos, os alunos aprendem novas habilidades e conhecimentos de forma prática.
                    </p>
                </li>
                <li class="flex items-start lg:col-span-1">
                    <div class="flex-shrink-0">
                        <svg class="w-5 h-5 text-indigo-600" fill="currentColor" viewBox="0 0 20 20">
                            <path fill-rule="evenodd"
                                d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
                                clip-rule="evenodd"></path>
                        </svg>
                    </div>
                    <p class="ml-3 leading-5 text-gray-600">
                        O processo de aprendizagem é tornado mais prazeroso e significativo, pois os alunos podem explorar os materiais e os projetos de forma tátil.
                    </p>
                </li>
                <li class="flex items-start lg:col-span-1">
                    <div class="flex-shrink-0">
                        <svg class="w-5 h-5 text-indigo-600" fill="currentColor" viewBox="0 0 20 20">
                            <path fill-rule="evenodd"
                                d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
                                clip-rule="evenodd"></path>
                        </svg>
                    </div>
                    <p class="ml-3 leading-5 text-gray-600">
                        O espaço é adaptado para atender às necessidades específicas de alunos com deficiência visual, proporcionando um ambiente inclusivo e acessível.
                    </p>
                </li>
            </ul>
        </div>
    </div>

    <!-- SEPARADOR ---------------------------------------------------------------------- -->

    <!-- Segundo SLIDE-->
    <div class="sticky top-0 h-screen flex flex-col items-center justify-center bg-gradient-to-b from-indigo-800 to-purple-800 text-white">
        <h2 class="text-4xl font-bold">Construindo um currículo forte</h2>
        <p class="mt-2">Fazendo uma aprendizagem personalizada</p>
        <div class="lg:ml-6 lg:col-start-2 lg:max-w-2xl">
            <p class="text-base font-semibold leading-6 text-green-500 uppercase">
                SALA DE INFORMÁTICA
            </p>
            <h4 class="mt-2 text-2xl font-extrabold leading-8 text-white sm:text-3xl sm:leading-9">
                A informática educativa permite que cada aluno aprenda no seu próprio ritmo, explorando conteúdos de acordo com seus interesses e necessidades, com o apoio de softwares educativos personalizados.
            </h4>
        
            <ul class="mt-8 space-y-3 font-medium">
                <li class="flex items-start lg:col-span-1">
                    <div class="flex-shrink-0">
                        <svg class="w-5 h-5 text-green-600" fill="currentColor" viewBox="0 0 20 20">
                            <path fill-rule="evenodd"
                                d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
                                clip-rule="evenodd"></path>
                        </svg>
                    </div>
                    <p class="ml-3 leading-5 text-white">
                        Os alunos adquirem habilidades digitais essenciais para o século XXI, como pesquisa na internet, uso de ferramentas colaborativas e criação de conteúdos digitais.
                    </p>
                </li>
                <li class="flex items-start lg:col-span-1">
                    <div class="flex-shrink-0">
                        <svg class="w-5 h-5 text-green-600" fill="currentColor" viewBox="0 0 20 20">
                            <path fill-rule="evenodd"
                                d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
                                clip-rule="evenodd"></path>
                        </svg>
                    </div>
                    <p class="ml-3 leading-5 text-white">
                        Ao utilizar o computador como ferramenta de aprendizagem, os alunos desenvolvem a autonomia e a criatividade, explorando novas formas de expressão e de resolução de problemas.
                    </p>
                </li>
                <li class="flex items-start lg:col-span-1">
                    <div class="flex-shrink-0">
                        <svg class="w-5 h-5 text-green-600" fill="currentColor" viewBox="0 0 20 20">
                            <path fill-rule="evenodd"
                                d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
                                clip-rule="evenodd"></path>
                        </svg>
                    </div>
                    <p class="ml-3 leading-5 text-white">
                        A informática educativa contribui para a inclusão digital de todos os alunos, proporcionando acesso a informações e recursos que podem não estar disponíveis em outros ambientes.
                    </p>
                </li>
                <li class="flex items-start lg:col-span-1">
                    <div class="flex-shrink-0">
                        <svg class="w-5 h-5 text-green-600" fill="currentColor" viewBox="0 0 20 20">
                            <path fill-rule="evenodd"
                                d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
                                clip-rule="evenodd"></path>
                        </svg>
                    </div>
                    <p class="ml-3 leading-5 text-white">
                        A escola oferece uma variedade de softwares educativos com recursos de acessibilidade, como leitores de tela.
                    </p>
                </li>
            </ul>
        </div>
    </div>

    
    <!-- SEPARADOR ---------------------------------------------------------------------- -->


    <!-- Terceiro SLIDE-->
    <div class="sticky top-0 h-screen flex flex-col items-center justify-center bg-gradient-to-b from-purple-800 to-pink-800 text-white">
        <h2 class="text-4xl font-bold">Desenvolvendo a arte</h2>
        <p class="mt-2">Aprendizagem lúdica com desenvolvimento da criatividade</p>
        <div class="lg:ml-6 lg:col-start-2 lg:max-w-2xl">
            <p class="text-base font-semibold leading-6 text-blue-500 uppercase">
                AULAS DE MÚSICA
            </p>
            <h4 class="mt-2 text-2xl font-extrabold leading-8 text-white sm:text-3xl sm:leading-9">
                A música torna o aprendizado mais divertido e significativo, facilitando a compreensão de conceitos de diferentes áreas do conhecimento.
            </h4>
        
            <ul class="mt-8 space-y-3 font-medium">
                <li class="flex items-start lg:col-span-1">
                    <div class="flex-shrink-0">
                        <svg class="w-5 h-5 text-blue-600" fill="currentColor" viewBox="0 0 20 20">
                            <path fill-rule="evenodd"
                                d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
                                clip-rule="evenodd"></path>
                        </svg>
                    </div>
                    <p class="ml-3 leading-5 text-white">
                        A música estimula a criatividade, permitindo que os alunos expressem suas ideias e sentimentos de forma original.
                    </p>
                </li>
                <li class="flex items-start lg:col-span-1">
                    <div class="flex-shrink-0">
                        <svg class="w-5 h-5 text-blue-600" fill="currentColor" viewBox="0 0 20 20">
                            <path fill-rule="evenodd"
                                d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
                                clip-rule="evenodd"></path>
                        </svg>
                    </div>
                    <p class="ml-3 leading-5 text-white">
                        As atividades musicais promovem o trabalho em equipe, a colaboração e o respeito à diversidade.
                    </p>
                </li>
                <li class="flex items-start lg:col-span-1">
                    <div class="flex-shrink-0">
                        <svg class="w-5 h-5 text-blue-600" fill="currentColor" viewBox="0 0 20 20">
                            <path fill-rule="evenodd"
                                d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
                                clip-rule="evenodd"></path>
                        </svg>
                    </div>
                    <p class="ml-3 leading-5 text-white">
                        A música é uma linguagem universal que promove a inclusão e a valorização da diversidade cultural.
                    </p>
                </li>
                <li class="flex items-start lg:col-span-1">
                    <div class="flex-shrink-0">
                        <svg class="w-5 h-5 text-blue-600" fill="currentColor" viewBox="0 0 20 20">
                            <path fill-rule="evenodd"
                                d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
                                clip-rule="evenodd"></path>
                        </svg>
                    </div>
                    <p class="ml-3 leading-5 text-white">
                        A música auxilia no controle da ansiedade e do estresse, promovendo o bem-estar emocional dos alunos.
                    </p>
                </li>
            </ul>
        </div>
    </div>

    <!-- SEPARADOR ------------------------------------------------------------------ -->


    <!-- Quarto SLIDE -->
    <div class="sticky top-0 h-screen flex flex-col items-center justify-center bg-gradient-to-b from-red-200 to-indigo-200 text-black">
        <h2 class="text-4xl font-bold">Foco na saúde física</h2>
        <p class="mt-2">Atividades de inclusão através do esporte</p>
        <div class="lg:ml-6 lg:col-start-2 lg:max-w-2xl">
            <p class="text-base font-semibold leading-6 text-purple-500 uppercase">
                ATIVIDADES ESPORTIVAS
            </p>
            <h4 class="mt-2 text-2xl font-extrabold leading-8 text-gray-900 sm:text-3xl sm:leading-9">
                A prática regular de esportes como xadrez, judô e goalball contribui para o desenvolvimento da coordenação motora, força muscular, flexibilidade e resistência física.
            </h4>
        
            <ul class="mt-8 space-y-3 font-medium">
                <li class="flex items-start lg:col-span-1">
                    <div class="flex-shrink-0">
                        <svg class="w-5 h-5 text-purple-600" fill="currentColor" viewBox="0 0 20 20">
                            <path fill-rule="evenodd"
                                d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
                                clip-rule="evenodd"></path>
                        </svg>
                    </div>
                    <p class="ml-3 leading-5 text-gray-600">
                        Os esportes praticados na escola promovem o bem-estar emocional, reduzindo o estresse e a ansiedade, além de aumentar a autoestima e a autoconfiança.
                    </p>
                </li>
                <li class="flex items-start lg:col-span-1">
                    <div class="flex-shrink-0">
                        <svg class="w-5 h-5 text-purple-600" fill="currentColor" viewBox="0 0 20 20">
                            <path fill-rule="evenodd"
                                d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
                                clip-rule="evenodd"></path>
                        </svg>
                    </div>
                    <p class="ml-3 leading-5 text-gray-600">
                        A prática esportiva em equipe desenvolve habilidades como trabalho em equipe, cooperação, respeito às regras e fair play.
                    </p>
                </li>
                <li class="flex items-start lg:col-span-1">
                    <div class="flex-shrink-0">
                        <svg class="w-5 h-5 text-purple-600" fill="currentColor" viewBox="0 0 20 20">
                            <path fill-rule="evenodd"
                                d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
                                clip-rule="evenodd"></path>
                        </svg>
                    </div>
                    <p class="ml-3 leading-5 text-gray-600">
                        Os esportes adaptados proporcionam um ambiente inclusivo onde todos os alunos podem participar e se sentir parte de um grupo.
                    </p>
                </li>
                <li class="flex items-start lg:col-span-1">
                    <div class="flex-shrink-0">
                        <svg class="w-5 h-5 text-purple-600" fill="currentColor" viewBox="0 0 20 20">
                            <path fill-rule="evenodd"
                                d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
                                clip-rule="evenodd"></path>
                        </svg>
                    </div>
                    <p class="ml-3 leading-5 text-gray-600">
                        A prática esportiva promove valores como a cidadania, o respeito ao próximo e a importância do trabalho em equipe.
                    </p>
                </li>
            </ul>
        </div>
    </div>



</div>