<div class="grid gap-1 lg:pb-4 pb-4 pt-6">
  <h2 class="w-full text-center text-gray-900 text-4xl font-bold font-manrope leading-normal">
    Onde estamos
  </h2>
</div>

<section class="text-purple-400 body-font relative">
  <!-- Mapa -->
  <div class="absolute inset-0 bg-primary-300">
    <iframe
      width="100%"
      height="100%"
      frameborder="0"
      marginheight="0"
      marginwidth="0"
      title="map"
      scrolling="no"
      src="https://maps.google.com/maps?width=100%&amp;height=600&amp;hl=en&amp;q=R.+Padre+Anchieta,+1400+-+Jacarecanga,+Fortaleza+-+CE,+60325-520&amp;ie=UTF8&amp;t=&amp;z=16&amp;iwloc=B&amp;output=embed"
    ></iframe>
  </div>

  <!-- Container de contato -->
  <div class="flex justify-start items-end py-20">
    <div
      class="w-full md:w-1/3 max-w-sm md:max-w-md p-0 md:p-2 flex flex-row md:ml-auto mt-10 md:mt-0 relative z-10 shadow-md"
    >
      <a
        href="https://www.google.com/maps/dir//R.+Padre+Anchieta,+1400+-+Jacarecanga,+Fortaleza+-+CE,+60325-520/@-3.7324867,-38.6347361,12z/data=!4m8!4m7!1m0!1m5!1m1!1s0x7c749763d07c7fd:0xd64bff2ce09226da!2m2!1d-38.5523341!2d-3.7324905?entry=ttu&g_ep=EgoyMDI0MTAwOS4wIKXMDSoASAFQAw%3D%3D"
        class="flex flex-col items-center bg-primary-300 border border-gray-200 rounded-lg shadow md:flex-row md:max-w-xl hover:bg-primary-700 dark:border-gray-700 dark:hover:bg-primary-700"
      >
        <img
          class="object-cover w-full p-2 rounded-t-lg h-32 md:h-auto md:w-48 md:rounded md:rounded-s-lg"
          src="/assets/img/clinic/sac-clinica.jpg"
          alt="Imagem da clínica"
        />
        <div class="flex flex-col justify-between p-4 leading-normal">
          <h5 class="mb-2 text-lg md:text-2xl font-bold tracking-tight text-gray-900 dark:text-white">
            Sociedade de Assistência aos Cegos
          </h5>
          <p class="mb-3 text-sm md:text-base font-normal text-accent-50 dark:text-white">
            Rua Padre Anchieta, 1400<br />
            Jacarecanga, Fortaleza - CE <br />
            60325-520
          </p>
        </div>
      </a>
    </div>
  </div>
</section>
