<section class="bg-white dark:bg-gray-900">
  <div class="gap-16 items-center py-8 px-4 mx-auto max-w-screen-xl lg:grid lg:grid-cols-2 lg:py-16 lg:px-6">
      <div class="font-light text-gray-500 sm:text-lg dark:text-gray-400">
          <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-gray-900 dark:text-white">Sua visão merece o melhor cuidado</h2>
          <p class="mb-4 text-justify">A saúde dos seus olhos é um bem precioso. Com exames oftalmológicos regulares, você pode prevenir e tratar diversas doenças oculares, como glaucoma, catarata e degeneração macular. </p>
          <p class="mb-4 text-justify">
            Nossa clínica oferece um diagnóstico preciso e rápido, utilizando equipamentos de última geração. Não espere para cuidar da sua visão. Procure nossas cirurgias.
          </p>
      </div>
      <div class="grid grid-cols-2 gap-4 mt-8">
          <img class="w-full rounded-lg" src="assets/img/clinic/cirurgias/cir-vertical11.jpg" alt="office content 1">
          <img class="mt-4 w-full lg:mt-10 rounded-lg" src="assets/img/clinic/cirurgias/cir-vertical22.jpg" alt="office content 2">
      </div>
  </div>
</section>
