<section class="bg-white dark:bg-gray-900">
  <div class="gap-16 items-center py-8 px-4 mx-auto max-w-screen-xl lg:grid lg:grid-cols-2 lg:py-16 lg:px-6">
      <div class="font-light text-gray-500 sm:text-lg dark:text-gray-400">
          <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-gray-900 dark:text-white">
            Cuide da sua visão com as nossas consultas oftalmológicas
          </h2>
          <p class="mb-4 text-justify">
            Manter a saúde dos seus olhos em dia é essencial para garantir qualidade de vida e bem-estar. Nossa clínica oferece consultas oftalmológicas completas, realizadas por profissionais especializados e com o suporte de equipamentos modernos.   
          </p>
          <p class="mb-4 text-justify">
            Atendemos pacientes particulares, de convênios e pelo SUS, garantindo acesso ao cuidado oftalmológico que você merece. Durante a consulta, avaliamos a saúde dos seus olhos, identificamos possíveis alterações e orientamos o melhor tratamento, quando necessário.
          </p>
          <p class="mb-4 text-justify">
            Não deixe para depois! Agende sua consulta e dê o primeiro passo para uma visão saudável e protegida
          </p>
      </div>
      <div class="grid grid-cols-2 gap-4 mt-8">
          <img class="w-full rounded-lg" src="assets/img/clinic/cirurgias/cir-vertical11.jpg" alt="office content 1">
          <img class="mt-4 w-full lg:mt-10 rounded-lg" src="assets/img/clinic/cirurgias/cir-vertical22.jpg" alt="office content 2">
      </div>
  </div>
</section>
