<!-- HEADER e HEADING-->
<app-header-saude></app-header-saude>
<app-heading-cirurgias></app-heading-cirurgias>


<!-- CONTEÚDO -->
<section class="w-full mx-auto py-10 bg-gray-50 dark:bg-gray-900 dark:text-white">
    <div class="w-fit pb-1 px-2 mx-4 rounded-md text-2xl font-semibold border-b-2 border-green-600 dark:border-b-2 dark:border-yellow-600">
      Blefaroplastia
    </div>

    <div class="xl:w-[80%] sm:w-[85%] xs:w-[90%] mx-auto flex md:flex-row xs:flex-col lg:gap-4 xs:gap-2 justify-center lg:items-stretch md:items-center mt-4">
      <div class="lg:w-[50%] xs:w-full">
        <img class="lg:rounded-t-lg sm:rounded-sm xs:rounded-sm" src="assets/img/clinic/cirurgias/cirurgia-blefaro.png" alt="billboard image" />
      </div>
      <div class="lg:w-[50%] sm:w-full xs:w-full bg-green-600 dark:bg-gray-900 dark:text-gray-400 md:p-4 xs:p-0 rounded-md flex flex-col items-center justify-center text-center mx-auto">
        <h2 class="text-3xl font-semibold text-white dark:text-white font-sans">
          Conheça o procedimento
        </h2>
        <p class="text-md mt-4 text-justify  p-4 font-sans text-white">
          A blefaroplastia é uma cirurgia plástica ocular que visa corrigir problemas estéticos e funcionais nas pálpebras, como a <label class="destaque bg-white text-blue-600 rounded-lg">remoção de excesso de pele e gordura nas pálpebras</label> superiores ou inferiores. Esse procedimento não só melhora a aparência ao eliminar as "pálpebras caídas" e as bolsas abaixo dos olhos, mas também pode <label class="destaque bg-white text-blue-600 rounded-lg">restaurar a visão,</label> caso a flacidez das pálpebras esteja afetando o campo de visão do paciente.
           <label class="destaque bg-white text-blue-600 rounded-lg"></label>
        </p>
      </div>
    </div>
    <!-- col-2 -->
    <div class="xl:w-[80%] sm:w-[85%] xs:w-[90%] mx-auto flex md:flex-row xs:flex-col lg:gap-4 xs:gap-2 justify-center lg:items-stretch md:items-center mt-6">
      <!--  -->
      <div class="md:hidden sm:block xs:block xs:w-full">
        <img class="lg:rounded-t-lg sm:rounded-sm xs:rounded-sm" src="assets/img/clinic/galeria/medico-com-crianca.jpg" alt="billboard image" />
      </div>
      <!--  -->
      <div class="lg:w-[50%] xs:w-full bg-green-600 dark:bg-gray-900 dark:text-gray-400 md:p-4 xs:p-0 rounded-md flex flex-col items-center justify-center text-center mx-auto">
        <h2 class="text-3xl text-white dark:text-white font-sans">
          Mais informações
        </h2>
        <p class="text-md mt-4 text-justify  text-white p-4 font-sans">
          Em nossa clínica, contamos com uma equipe altamente qualificada para realizar a blefaroplastia com técnicas modernas e resultados naturais, proporcionando aos nossos pacientes uma recuperação rápida e eficaz. Além disso, sua escolha contribui para os projetos sociais da nossa instituição, que buscam promover a inclusão e autonomia de pessoas com deficiência visual. Agende sua consulta e descubra como podemos melhorar sua estética e qualidade de vida!
        </p>
      </div>
      <!--  -->
      <div class="md:block sm:hidden xs:hidden lg:w-[50%] xs:w-full">
        <img class="lg:rounded-t-lg xs:rounded-sm" src="assets/img/clinic/galeria/medico-com-crianca.jpg" alt="billboard image" />
      </div>
    </div>
</section>
<!-- FIM DO CONTEÚDO -->

<!-- CALL TO ACTION -->
<app-marque-sua-consulta></app-marque-sua-consulta>

<!-- FOOTER -->
<app-footer-saude></app-footer-saude>