<section class="text-accent-50 bg-primary-300 body-font">
  <div class="container px-5 py-12 mx-auto flex flex-col items-center justify-center">
    <div class="flex flex-col text-center w-full mb-10">
      <h1 class="sm:text-3xl text-2xl font-medium title-font mb-4 text-white">Conheça nossos serviços para saúde</h1>
      <p class="leading-relaxed text-base text-white">
        Desfrute de uma vida mais clara e vibrante. Nossa clínica oferece uma ampla gama de serviços oftalmológicos, desde consultas de rotina até tratamentos avançados. Conte com nossa equipe especializada para cuidar da sua saúde ocular.      
      </p>
    </div>
    <div class="flex flex-wrap -m-4">
      <!-- Card 1 -->
      <div class="lg:w-1/3 sm:w-1/2 p-4">
        <div class="flex flex-col h-full relative">
          <img alt="gallery" class="absolute inset-0 w-full h-full object-cover object-center" src="/assets/img/clinic/card-gallery1.jpg">
          <div class="px-8 py-10 relative z-10 w-full border-4 border-gray-800 bg-gray-900 opacity-0 hover:opacity-80 delay-100 duration-300 ease-in-out flex flex-col justify-between min-h-[320px]">
            <div>
              <h2 class="tracking-widest text-sm title-font font-medium text-indigo-400 mb-1">Saúde Ocular</h2>
              <h1 class="title-font text-lg font-medium text-white mb-3">Prevenção</h1>
              <p class="leading-relaxed">
                Não espere a visão embaçar para cuidar da sua saúde ocular. Na SAC, oferecemos exames completos e tratamentos personalizados para toda a família. Agende já sua consulta!
              </p>
            </div>
          </div>
        </div>
      </div>
      <!-- Card 2 -->
      <div class="lg:w-1/3 sm:w-1/2 p-4">
        <div class="flex flex-col h-full relative">
          <img alt="gallery" class="absolute inset-0 w-full h-full object-cover object-center" src="/assets/img/clinic/card-gallery2.jpg">
          <div class="px-8 py-10 relative z-10 w-full border-4 border-gray-800 bg-gray-900 opacity-0 hover:opacity-80 delay-100 duration-300 ease-in-out flex flex-col justify-between min-h-[320px]">
            <div>
              <h2 class="tracking-widest text-sm title-font font-medium text-indigo-400 mb-1">Tecnologia</h2>
              <h1 class="title-font text-lg font-medium text-white mb-3">Diagnósticos precisos</h1>
              <p class="leading-relaxed">
                Conte com a mais alta tecnologia em oftalmologia para cuidar da sua saúde ocular. Na SAC, utilizamos equipamentos de última geração para garantir a precisão em todos os procedimentos.
              </p>
            </div>
          </div>
        </div>
      </div>
      <!-- Card 3 -->
      <div class="lg:w-1/3 sm:w-1/2 p-4">
        <div class="flex flex-col h-full relative">
          <img alt="gallery" class="absolute inset-0 w-full h-full object-cover object-center" src="/assets/img/clinic/card-gallery3.png">
          <div class="px-8 py-10 relative z-10 w-full border-4 border-gray-800 bg-gray-900 opacity-0 hover:opacity-80 delay-100 duration-300 ease-in-out flex flex-col justify-between min-h-[320px]">
            <div>
              <h2 class="tracking-widest text-sm title-font font-medium text-indigo-400 mb-1">Atendimento</h2>
              <h1 class="title-font text-lg font-medium text-white mb-3">Sua visão é prioridade</h1>
              <p class="leading-relaxed">
                Na SAC você encontra um ambiente acolhedor e uma equipe de profissionais altamente qualificados, sempre dispostos a oferecer o melhor atendimento.
              </p>
            </div>
          </div>
        </div>
      </div>
      <!-- Card 4 -->
      <div class="lg:w-1/3 sm:w-1/2 p-4">
        <div class="flex flex-col h-full relative">
          <img alt="gallery" class="absolute inset-0 w-full h-full object-cover object-center" src="/assets/img/clinic/card-gallery4.jpg">
          <div class="px-8 py-10 relative z-10 w-full border-4 border-gray-800 bg-gray-900 opacity-0 hover:opacity-80 delay-100 duration-300 ease-in-out flex flex-col justify-between min-h-[320px]">
            <div>
              <h2 class="tracking-widest text-sm title-font font-medium text-indigo-400 mb-1">Vida nítida</h2>
              <h1 class="title-font text-lg font-medium text-white mb-3">Visão Saudável</h1>
              <p class="leading-relaxed">
                Imagine um mundo mais claro e vibrante. Com uma visão saudável, você pode aproveitar cada momento com mais intensidade. Na SAC, ajudamos você a ter essa experiência.
              </p>
            </div>
          </div>
        </div>
      </div>
      <!-- Card 5 -->
      <div class="lg:w-1/3 sm:w-1/2 p-4">
        <div class="flex flex-col h-full relative">
          <img alt="gallery" class="absolute inset-0 w-full h-full object-cover object-center" src="/assets/img/clinic/card-gallery5.jpg">
          <div class="px-8 py-10 relative z-10 w-full border-4 border-gray-800 bg-gray-900 opacity-0 hover:opacity-80 delay-100 duration-300 ease-in-out flex flex-col justify-between min-h-[320px]">
            <div>
              <h2 class="tracking-widest text-sm title-font font-medium text-indigo-400 mb-1">Cirurgias</h2>
              <h1 class="title-font text-lg font-medium text-white mb-3">Fim da Catarata</h1>
              <p class="leading-relaxed">
                A catarata pode comprometer a qualidade da sua vida. Na SAC, oferecemos a cirurgia de catarata com a mais alta tecnologia e segurança, para que você possa voltar a enxergar com nitidez.
              </p>
            </div>
          </div>
        </div>
      </div>
      <!-- Card 6 -->
      <div class="lg:w-1/3 sm:w-1/2 p-4">
        <div class="flex flex-col h-full relative">
          <img alt="gallery" class="absolute inset-0 w-full h-full object-cover object-center" src="/assets/img/clinic/card-gallery6.png">
          <div class="px-8 py-10 relative z-10 w-full border-4 border-gray-800 bg-gray-900 opacity-0 hover:opacity-80 delay-100 duration-300 ease-in-out flex flex-col justify-between min-h-[320px]">
            <div>
              <h2 class="tracking-widest text-sm title-font font-medium text-indigo-400 mb-1">Descontos</h2>
              <h1 class="title-font text-lg font-medium text-white mb-3">Aproveite nossas condições</h1>
              <p class="leading-relaxed">
                Agende sua consulta agora. Não perca essa oportunidade de cuidar da sua saúde ocular com os melhores profissionais da área.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
