$primary: (
  50: #e6f7e4,
  100: #c4ebc3,
  200: #9fdd9d,
  300: #7acf76,
  400: #5dca56, 
  500: #1ecc0e, 
  600: #1bb20d,
  700: #18960b,
  800: #1c7c06, 
  900: #135805,
  A100: #a9ffb2,
  A200: #76ff79,
  A400: #1ecc0e,
  A700: #0fb805,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #ffffff,
    A700: #ffffff,
  ),
);

$secondary: (
  50: #e1f4ff,
  100: #b3e2ff,
  200: #80cfff,
  300: #4dbbff,
  400: #26abff,
  500: #009aff, 
  600: #008ee5,
  700: #007dcc,
  800: #006cb3,
  900: #005399,
  A100: #ccefff,
  A200: #99dfff,
  A400: #66cfff,
  A700: #33bfff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$accent: (
  50: #ffe0f0,
  100: #ffb3d1,
  200: #ff80b3,
  300: #ff4d94,
  400: #ff1a75,
  500: #ff007f, // Uma cor de destaque
  600: #e60073,
  700: #cc0066,
  800: #b30059,
  900: #99004d,
  A100: #ffb3d1,
  A200: #ff80b3,
  A400: #ff4d94,
  A700: #ff1a75,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #ffffff,
    A700: #ffffff,
  ),
);


$warn: (
  50: #fef0f0,
  100: #fcd9d9,
  200: #f8b2b2,
  300: #f58b8b,
  400: #f26969,
  500: #ef4747, 
  600: #d64040,
  700: #b53535,
  800: #942a2a,
  900: #731f1f,
  A100: #ff8f8f,
  A200: #ff5c5c,
  A400: #ff2929,
  A700: #ff1212,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #ffffff,
    A700: #ffffff,
  ),
);
