<div class="flex flex-wrap">
  <div class="w-full sm:w-8/12 mb-10">
    <div class="container mx-auto h-full sm:p-10">
      <nav class="flex px-4 justify-between items-center">
        <div class="text-4xl font-bold">
          Cuidar dos seus <span class="text-green-700">olhos</span> é a nossa especialidade<span class="text-green-700">.</span>
        </div>
        <div>
          <img src="https://image.flaticon.com/icons/svg/497/497348.svg" alt="" class="w-8">
        </div>
      </nav>
      <header class="container px-4 lg:flex mt-10 items-center h-full lg:mt-0">
        <div class="w-full">
          <h1 class="text-4xl lg:text-6xl font-bold">Se examine com os <span class="text-green-700">melhores</span> oftalmologistas de Fortaleza</h1>
          <div class="w-20 h-2 bg-green-700 my-4"></div>
          <p class="text-xl mb-10">
            Realize exames oftalmológicos completos e precisos para cuidar da sua saúde ocular. Nossos exames são rápidos, indolores e eficazes. Agende seu exame e tenha mais segurança sobre a saúde dos seus olhos.
          </p>
          <button class="bg-green-500 text-white text-2xl font-medium px-4 py-2 rounded shadow">
            Marcar exame
          </button>
        </div>
      </header>
    </div>
  </div>
  <img src="assets/img/clinic/exame-oftalmologico.jpg" alt="Leafs" class="w-full h-48 object-cover sm:h-screen sm:w-4/12">
</div>