<!-- CONTEÚDO -->
<section class="w-full mx-auto py-10 bg-gray-50 dark:bg-gray-900 dark:text-white">
    <div class="w-fit pb-1 px-2 mx-4 rounded-md text-2xl font-semibold border-b-2 border-green-600 dark:border-b-2 dark:border-yellow-600">
      Reabilitação
    </div>

    <!--coluna 1-->
    <div class="xl:w-[80%] sm:w-[85%] xs:w-[90%] mx-auto flex md:flex-row xs:flex-col lg:gap-4 xs:gap-2 justify-center lg:items-stretch md:items-center mt-4">
      <div class="lg:w-[50%] xs:w-full">
        <img class="lg:rounded-t-lg sm:rounded-sm xs:rounded-sm" src="assets/img/assist/reabilitacao/ex0.jpg" alt="billboard image" />
      </div>
      <div class="lg:w-[50%] sm:w-full xs:w-full bg-green-600 dark:bg-gray-900 dark:text-gray-400 md:p-4 xs:p-0 rounded-md flex flex-col items-center justify-center text-center mx-auto">
        <h2 class="text-3xl font-semibold text-white dark:text-white font-sans">
          Nosso Serviço Social
        </h2>
        <p class="text-md mt-4 text-justify  p-4 font-sans text-white">
            A Reabilitação da Sociedade de Assistência aos Cegos, consiste no aspecto mais amplo da palavra no que diz respeito à inserção da pessoa com deficiência no meio social. Compreende primeiramente o <label class="destaque bg-white text-blue-700 rounded-lg">conhecimento prévio da necessidade e individualidade de cada pessoa,</label> proporcionando- lhes experiências inéditas. Desmistificando a incapacidade da pessoa com deficiência visual em relação a sua autonomia para vida.
        </p>
      </div>
    </div>
    <!-- coluna 2 -->
    <div class="xl:w-[80%] sm:w-[85%] xs:w-[90%] mx-auto flex md:flex-row xs:flex-col lg:gap-4 xs:gap-2 justify-center lg:items-stretch md:items-center mt-6">
      <!--  -->
      <div class="md:hidden sm:block xs:block xs:w-full">
        <img class="lg:rounded-t-lg sm:rounded-sm xs:rounded-sm" src="assets/img/assist/reabilitacao/ex1.jpg" alt="billboard image" />
      </div>
      <!--  -->
      <div class="lg:w-[50%] xs:w-full bg-green-600 dark:bg-gray-900 dark:text-gray-400 md:p-4 xs:p-0 rounded-md flex flex-col items-center justify-center text-center mx-auto">
        <h2 class="text-3xl text-white dark:text-white font-sans">
          Sala de Integração
        </h2>
        <p class="text-md mt-4 text-justify  text-white p-4 font-sans">
            Primeira sala que acolhe a pessoa com deficiência visual que busca auxílio na instituição. É onde conhecem a história da Instituição, a diversidade de atividades que poderá se engajar no decorrer de sua reabilitação, local também que reconhece que não está sozinho nessa nova realidade de vida com as trocas de experiências em grupo.
        </p>
      </div>
      <!--  -->
      <div class="md:block sm:hidden xs:hidden lg:w-[50%] xs:w-full">
        <img class="lg:rounded-t-lg xs:rounded-sm" src="assets/img/assist/reabilitacao/ex1.jpg" alt="billboard image" />
      </div>
    </div>
    <!--fim da coluna 2-->

    <!--coluna 3-->
    <div class="xl:w-[80%] sm:w-[85%] xs:w-[90%] mx-auto flex md:flex-row xs:flex-col lg:gap-4 xs:gap-2 justify-center lg:items-stretch md:items-center mt-4">
        <div class="lg:w-[50%] xs:w-full">
          <img class="lg:rounded-t-lg sm:rounded-sm xs:rounded-sm" src="assets/img/assist/reabilitacao/ex2.jpg" alt="billboard image" />
        </div>
        <div class="lg:w-[50%] sm:w-full xs:w-full bg-green-600 dark:bg-gray-900 dark:text-gray-400 md:p-4 xs:p-0 rounded-md flex flex-col items-center justify-center text-center mx-auto">
          <h2 class="text-3xl font-semibold text-white dark:text-white font-sans">
            Arte Terapia
          </h2>
          <p class="text-md mt-4 text-justify  p-4 font-sans text-white">
            São projetos realizados com pessoas com deficiência visual a partir dos 60 anos, que desenvolvem habilidades manuais, estimulando a coordenação motora, trazendo bem-estar físico e mental. Contribuindo no processo de envelhecimento saudável, no desenvolvimento da autonomia, no  fortalecimento dos vínculos familiares e na prevenção de situações de risco social.
          </p>
        </div>
      </div>
      <!-- coluna 4 -->
      <div class="xl:w-[80%] sm:w-[85%] xs:w-[90%] mx-auto flex md:flex-row xs:flex-col lg:gap-4 xs:gap-2 justify-center lg:items-stretch md:items-center mt-6">
        <!--  -->
        <div class="md:hidden sm:block xs:block xs:w-full">
          <img class="lg:rounded-t-lg sm:rounded-sm xs:rounded-sm" src="assets/img/assist/reabilitacao/ex3.jpg" alt="billboard image" />
        </div>
        <!--  -->
        <div class="lg:w-[50%] xs:w-full bg-green-600 dark:bg-gray-900 dark:text-gray-400 md:p-4 xs:p-0 rounded-md flex flex-col items-center justify-center text-center mx-auto">
          <h2 class="text-3xl text-white dark:text-white font-sans">
            Sala de Braille
          </h2>
          <p class="text-md mt-4 text-justify  text-white p-4 font-sans">
            Sala de aula onde, pessoas adultas que perderam a visão e estão no processo de reabilitação aprendem o sistema Braille, que é um sistema mundial de escrita e leitura tátil. Tornando-os capazes de ler e escrever com a mesma autonomia de quando enxergavam.
          </p>
        </div>
        <!--  -->
        <div class="md:block sm:hidden xs:hidden lg:w-[50%] xs:w-full">
          <img class="lg:rounded-t-lg xs:rounded-sm" src="assets/img/assist/reabilitacao/ex3.jpg" alt="billboard image" />
        </div>
      </div>
      <!--fim da coluna 4-->

      <!--coluna 5-->
    <div class="xl:w-[80%] sm:w-[85%] xs:w-[90%] mx-auto flex md:flex-row xs:flex-col lg:gap-4 xs:gap-2 justify-center lg:items-stretch md:items-center mt-4">
        <div class="lg:w-[50%] xs:w-full">
          <img class="lg:rounded-t-lg sm:rounded-sm xs:rounded-sm" src="assets/img/assist/reabilitacao/ex4.jpg" alt="billboard image" />
        </div>
        <div class="lg:w-[50%] sm:w-full xs:w-full bg-green-600 dark:bg-gray-900 dark:text-gray-400 md:p-4 xs:p-0 rounded-md flex flex-col items-center justify-center text-center mx-auto">
          <h2 class="text-3xl font-semibold text-white dark:text-white font-sans">
            Sala de Artes e Ofícios
          </h2>
          <p class="text-md mt-4 text-justify  p-4 font-sans text-white">
            A sala de Artes e Ofícios, local onde os reabilitandos aprendem a criar uma grande diversidade de trabalhos artesanais feitos com folhas de revistas e panfletos, proporcionando-lhes desenvolver habilidades manuais, trabalhar a coordenação motora, favorecendo a socialização, criatividade e autonomia.
          </p>
        </div>
      </div>
      <!-- coluna 6 -->
      <div class="xl:w-[80%] sm:w-[85%] xs:w-[90%] mx-auto flex md:flex-row xs:flex-col lg:gap-4 xs:gap-2 justify-center lg:items-stretch md:items-center mt-6">
        <!--  -->
        <div class="md:hidden sm:block xs:block xs:w-full">
          <img class="lg:rounded-t-lg sm:rounded-sm xs:rounded-sm" src="assets/img/assist/reabilitacao/ex5.jpg" alt="billboard image" />
        </div>
        <!--  -->
        <div class="lg:w-[50%] xs:w-full bg-green-600 dark:bg-gray-900 dark:text-gray-400 md:p-4 xs:p-0 rounded-md flex flex-col items-center justify-center text-center mx-auto">
          <h2 class="text-3xl text-white dark:text-white font-sans">
            Aula de Soroban
          </h2>
          <p class="text-md mt-4 text-justify  text-white p-4 font-sans">
            É uma sala de aula, onde ocorre o ensino do soroban, que é um instrumento de cálculo, tem o objetivo de auxiliar as pessoas com deficiência visual e de baixa visão, o raciocínio lógico, estimular a memória e contribuir para o ensino e a aprendizagem da aritmética.
        </p>
        </div>
        <!--  -->
        <div class="md:block sm:hidden xs:hidden lg:w-[50%] xs:w-full">
          <img class="lg:rounded-t-lg xs:rounded-sm" src="assets/img/assist/reabilitacao/ex5.jpg" alt="billboard image" />
        </div>
      </div>
      <!--fim da coluna 6-->


       <!--coluna 8-->
    <div class="xl:w-[80%] sm:w-[85%] xs:w-[90%] mx-auto flex md:flex-row xs:flex-col lg:gap-4 xs:gap-2 justify-center lg:items-stretch md:items-center mt-4">
        <div class="lg:w-[50%] xs:w-full">
          <img class="lg:rounded-t-lg sm:rounded-sm xs:rounded-sm" src="assets/img/assist/reabilitacao/ex6.jpg" alt="billboard image" />
        </div>
        <div class="lg:w-[50%] sm:w-full xs:w-full bg-green-600 dark:bg-gray-900 dark:text-gray-400 md:p-4 xs:p-0 rounded-md flex flex-col items-center justify-center text-center mx-auto">
          <h2 class="text-3xl font-semibold text-white dark:text-white font-sans">
            Alfaletrando
          </h2>
          <p class="text-md mt-4 text-justify  p-4 font-sans text-white">
            É uma sala de aula que ensina o sistema Braille paralelamente ao letramento de pessoas adultas que perderam a visão ou  que tem baixa visão, que não se alfabetizaram.
        </p>
        </div>
      </div>
      <!-- coluna 9 -->
      <div class="xl:w-[80%] sm:w-[85%] xs:w-[90%] mx-auto flex md:flex-row xs:flex-col lg:gap-4 xs:gap-2 justify-center lg:items-stretch md:items-center mt-6">
        <!--  -->
        <div class="md:hidden sm:block xs:block xs:w-full">
          <img class="lg:rounded-t-lg sm:rounded-sm xs:rounded-sm" src="assets/img/assist/reabilitacao/ex7.jpg" alt="billboard image" />
        </div>
        <!--  -->
        <div class="lg:w-[50%] xs:w-full bg-green-600 dark:bg-gray-900 dark:text-gray-400 md:p-4 xs:p-0 rounded-md flex flex-col items-center justify-center text-center mx-auto">
          <h2 class="text-3xl text-white dark:text-white font-sans">
            Yoga
          </h2>
          <p class="text-md mt-4 text-justify  text-white p-4 font-sans">
            A Yoga é uma das atividades ofertada aos reabilitandos que possibilita para o deficiente visual, o aumento da consciência corporal melhorando a concentração, respiração e técnicas de relaxamento. São realizadas por voluntários qualificados.
        </p>
        </div>
        <!--  -->
        <div class="md:block sm:hidden xs:hidden lg:w-[50%] xs:w-full">
          <img class="lg:rounded-t-lg xs:rounded-sm" src="assets/img/assist/reabilitacao/ex7.jpg" alt="billboard image" />
        </div>
      </div>
      <!--fim da coluna 9-->

      
      <!--coluna 7-->
    <div class="xl:w-[80%] sm:w-[85%] xs:w-[90%] mx-auto flex md:flex-row xs:flex-col lg:gap-4 xs:gap-2 justify-center lg:items-stretch md:items-center mt-4">
        <div class="lg:w-[50%] xs:w-full">
          <img class="lg:rounded-t-lg sm:rounded-sm xs:rounded-sm" src="assets/img/assist/reabilitacao/ex8.jpg" alt="billboard image" />
        </div>
        <div class="lg:w-[50%] sm:w-full xs:w-full bg-green-600 dark:bg-gray-900 dark:text-gray-400 md:p-4 xs:p-0 rounded-md flex flex-col items-center justify-center text-center mx-auto">
          <h2 class="text-3xl font-semibold text-white dark:text-white font-sans">
            Grupo Terapêutico
          </h2>
          <p class="text-md mt-4 text-justify  p-4 font-sans text-white">
            É realizado pela psicóloga da instituição, formado por pessoas qu perderam a visão ou estão no processo de perda da visão. Tem intuito de potencializar os diálogos e a melhoria na adaptação ao modo de vida individual e coletivo, auxiliando na resolução de conflitos com as trocas.
        </p>
        </div>
      </div>
      <!--fim da col 7-->
</section>
<!-- FIM DO CONTEÚDO -->