<div class="relative">
  <!-- Carrossel como background -->
  <app-carrossel
    class="absolute inset-0"
    [imagens]="[
      '/assets/img/clinic/hero-clinic1.jpg', 
      '/assets/img/clinic/hero-clinic2.jpg', 
      '/assets/img/clinic/hero-clinic3.jpg' 
    ]"
  ></app-carrossel>

  <!-- Seção com o conteúdo sobreposto + logo -->
  <section class="relative text-gray-400 bg-primary-200 bg-opacity-75 body-font z-10">
    <div class="container mx-auto flex px-5 py-12 text-logo-section">
      <div class="flex flex-col md:flex-row items-center gap-6">
        <!-- Logo -->
        <div class="logo-container flex-shrink-0">
          <img 
            src="assets/logos/sac-logo.png" 
            alt="Logo do Instituto de Cegos do Ceará" 
            class="w-24 h-24 sm:w-32 sm:h-32 object-contain relative"
            style="top: -40px;"
          />
        </div>
  
        <!-- Texto -->
        <div class="lg:flex-grow flex flex-col text-center md:text-left">
          <h1 class="title-font text-5xl sm:text-6xl lg:text-7xl mb-4 font-bold text-white z-20">
            <span class="text-3xl sm:text-4xl lg:text-5xl font-medium">Instituto de Cegos do Ceará</span>
          </h1>
          <p class="mb-8 leading-relaxed text-accent-50 z-20 max-w-full sm:max-w-md md:max-w-lg lg:max-w-xl">
            Há 82 anos cuidando da sua visão
          </p>
          <div class="flex flex-col sm:flex-row justify-center gap-4 z-20">
            <button class="text-black bg-white py-2 px-4 sm:px-6 focus:outline-none hover:scale-105 hover:bg-green-600 duration-300 rounded text-sm sm:text-lg whitespace-nowrap">
              Fale conosco
            </button>
          </div>
        </div>
      </div>
    </div>
  </section>
  
  

  <!-- FIM DA Seção com o conteúdo sobreposto + logo -->

</div>


<!-- SEÇÃO DOS NÚMEROS -->

<div class="bg-green-900 py-12 sm:py-16">
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <div class="mx-auto max-w-2xl lg:max-w-none">
      <div class="text-center space-y-4">
        <h2 class="text-3xl font-bold tracking-tight text-white sm:text-4xl">
          Por que utilizar nossos serviços?
        </h2>
        <p class="text-lg leading-8 text-gray-300">
          Uma visão nítida transforma sua vida. Nossa equipe especializada te ajuda a enxergar mais longe.
        </p>
      </div>
      <dl
        class="mt-16 grid grid-cols-1 gap-0.5 overflow-hidden rounded-2xl text-center sm:grid-cols-2 lg:grid-cols-4"
      >
        <div
          class="flex flex-col bg-white/5 p-8 hover:scale-110 hover:bg-indigo-800 duration-300"
        >
          <dt class="text-sm font-semibold leading-6 text-gray-300">
            Clientes atendidos
          </dt>
          <dd
            class="order-first text-3xl font-semibold tracking-tight text-white"
          >
            +10000
          </dd>
        </div>
        <div
          class="flex flex-col bg-white/5 p-8 hover:scale-110 hover:bg-indigo-800 duration-300"
        >
          <dt class="text-sm font-semibold leading-6 text-gray-300">
            Anos de experiência
          </dt>
          <dd
            class="order-first text-3xl font-semibold tracking-tight text-white"
          >
            82
          </dd>
        </div>
        <div
          class="flex flex-col bg-white/5 p-8 hover:scale-110 hover:bg-indigo-800 duration-300"
        >
          <dt class="text-sm font-semibold leading-6 text-gray-300">
            Tratamentos diferentes
          </dt>
          <dd
            class="order-first text-3xl font-semibold tracking-tight text-white"
          >
            42
          </dd>
        </div>
        <div
          class="flex flex-col bg-white/5 p-8 hover:scale-110 hover:bg-indigo-800 duration-300"
        >
          <dt class="text-sm font-semibold leading-6 text-gray-300">
            Exames realizados
          </dt>
          <dd
            class="order-first text-3xl font-semibold tracking-tight text-white"
          >
            +400.000
          </dd>
        </div>
      </dl>
    </div>
  </div>
