<!-- HEADER e HEADING-->
<app-header-saude></app-header-saude>
<app-heading-cirurgias></app-heading-cirurgias>


<!-- CONTEÚDO -->
<section class="w-full mx-auto py-10 bg-gray-50 dark:bg-gray-900 dark:text-white">
    <div class="w-fit pb-1 px-2 mx-4 rounded-md text-2xl font-semibold border-b-2 border-green-600 dark:border-b-2 dark:border-yellow-600">
      Cirurgia de Retina e Vítreo
    </div>

    <div class="xl:w-[80%] sm:w-[85%] xs:w-[90%] mx-auto flex md:flex-row xs:flex-col lg:gap-4 xs:gap-2 justify-center lg:items-stretch md:items-center mt-4">
      <div class="lg:w-[50%] xs:w-full">
        <img class="lg:rounded-t-lg sm:rounded-sm xs:rounded-sm" src="assets/img/clinic/cirurgias/cirurgia-retina.jpg" alt="Fotografia da platica ocular" />
      </div>
      <div class="lg:w-[50%] sm:w-full xs:w-full bg-green-100 dark:bg-gray-900 dark:text-gray-400 md:p-4 xs:p-0 rounded-md flex flex-col items-center justify-center text-center mx-auto">
        <h2 class="text-3xl font-semibold text-gray-900 dark:text-white font-sans">
          Conheça o procedimento
        </h2>
        <p class="text-md mt-4 text-justify  p-4 font-sans">
            A cirurgia de retina e vítreo é indicada para tratar diversas condições que afetam a saúde da retina e do vítreo, estruturas
essenciais para a visão. Entre as condições tratadas estão o <label class="destaque text-blue-700">descolamento de retina, a retinopatia diabética, as
hemorragias vítreas e as doenças maculares.</label>  O tratamento cirúrgico pode envolver técnicas como vitrectomia,
retinopexia e fotocoagulação a laser, que têm como objetivo restaurar a saúde ocular e evitar a perda de visão. 

            <label class="destaque text-blue-700"></label> 
        </p>
      </div>
    </div>
    <!-- col-2 -->
    <div class="xl:w-[80%] sm:w-[85%] xs:w-[90%] mx-auto flex md:flex-row xs:flex-col lg:gap-4 xs:gap-2 justify-center lg:items-stretch md:items-center mt-6">
      <!--  -->
      <div class="md:hidden sm:block xs:block xs:w-full">
        <img class="lg:rounded-t-lg sm:rounded-sm xs:rounded-sm" src="assets/img/clinic/galeria/medico-com-crianca.jpg" alt="billboard image" />
      </div>
      <!--  -->
      <div class="lg:w-[50%] xs:w-full bg-green-100 dark:bg-gray-900 dark:text-gray-400 md:p-4 xs:p-0 rounded-md flex flex-col items-center justify-center text-center mx-auto">
        <h2 class="text-3xl text-gray-900 dark:text-white font-sans">
          Mais informações
        </h2>
        <p class="text-md mt-4 text-justify  p-4 font-sans">
            Em nossa clínica, contamos com uma equipe especializada em cirurgia de retina e vítreo, que utiliza as mais modernas
técnicas para garantir os melhores resultados e a recuperação mais rápida possível. Além disso, ao escolher nossos
serviços, você contribui diretamente para os projetos sociais da Sociedade de Assistência aos Cegos, ajudando a
promover a inclusão e a autonomia de pessoas com deficiência visual. Agende sua consulta e descubra como podemos
cuidar da sua visão, enquanto você faz a diferença na vida de outras pessoas!          
        </p>
      </div>
      <!--  -->
      <div class="md:block sm:hidden xs:hidden lg:w-[50%] xs:w-full">
        <img class="lg:rounded-t-lg xs:rounded-sm" src="assets/img/clinic/galeria/medico-com-crianca.jpg" alt="billboard image" />
      </div>
    </div>
</section>
<!-- FIM DO CONTEÚDO -->

<!-- CALL TO ACTION -->
<app-marque-sua-consulta></app-marque-sua-consulta>

<!-- FOOTER -->
<app-footer-saude></app-footer-saude>